[2020-01-22 06:48] acmiras opened #1 "HOW TO MAKE A ISSUE."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-22 06:57] acmiras opened #2 "PROBLEM IN LOGGING IN"
Hindi po kami makapag log in sa ibang PC. Pero gumagana naman po yung Quick Punch
yung Log In lang po ang hnd gumagana kahit tama naman po yung username at password.
pero pag mali po yung username at password lumalabas naman po yung "oppsss"

[2020-01-22 07:04] acmiras commented on #2
browser: Google Chrome latest version
operating system: windows 7 pro 64bit
device: desktop pc hardware: intel pentium procee, ram 6 gb, board asus 3rdgen
error: not existing"but when you click the login button in login menu, it will not redirect to the
profile of the employee the pop up succesful is not showing. but when password input is wrong. the error occur. "the popup error"

[2020-01-22 07:07] fersieval0216 commented on #2
Sa Kanaka Kiosk po ba to?

[2020-01-22 07:09] acmiras commented on #2
opo Sir. may Extra Pc po kasi kami dito, yun po yung ginamit namin para mag Log In mga employees namin sa malapit sa entrance.

[2020-01-22 07:31] fersieval0216 commented on #2
pero sa ibang pc po gumagana ng maayos yung Kanaka Kiosk tama po ba? dyan lang po sa extra pc ninyo nag ka error?

[2020-01-22 07:33] acmiras commented on #2
opo sir dito sa PC namin ni mam reneerose nakakapag Log in kaming dalawa po.

[2020-01-22 09:45] acmiras commented on #2
![image](https://user-images.githubusercontent.com/60170851/72883238-ece63d00-3d3e-11ea-8442-d4b13de9a748.png)

[2020-01-22 09:47] acmiras commented on #2
![image](https://user-images.githubusercontent.com/60170851/72883386-2cad2480-3d3f-11ea-9d03-6c1907436253.png)

[2020-01-22 09:48] acmiras commented on #2
![image](https://user-images.githubusercontent.com/60170851/72883492-5a926900-3d3f-11ea-9dea-ea0ceb9ef0e7.png)

[2020-01-22 09:49] acmiras commented on #2
sir kahapon nag OT ako ng 3 HOURS pero ang lumalabas sa system 2 HOURS lang yung nababasa nia.

[2020-01-22 09:50] fersieval0216 commented on #2
Hi Ma'am Aileen, pagawan po ng bagong ticket ma'am, isang bug report po isang ticket, thanks po

[2020-01-23 04:12] acmiras opened #3 "DISCREPANCY IN OVERTIME"
![image](https://user-images.githubusercontent.com/60170851/72955910-d096de80-3dd8-11ea-9b9a-76ef7a28754f.png)

* sched po namin 9 - 6
nag OT po kami ng 3 hours

nakalagay po dian sa overtime hrs: 2.77

![image](https://user-images.githubusercontent.com/60170851/72955927-e60c0880-3dd8-11ea-8dab-306ea3619788.png)

* dito naman po sa apply overtime
2 hours na po yung max nung arrow down.
hindi lumal

[2020-01-27 02:46] acmiras opened #4 "LATE PUNCH IN NOT TAGGED AS LATE"
![image](https://user-images.githubusercontent.com/60170851/73147400-2e396c80-40f2-11ea-8f11-c5a1d80ff42c.png)

[2020-01-27 02:47] acmiras commented on #4
SYSTEM DOES NOT SAVED THE "PUNCH IN"IN TIME RECORDS AND NOT  TAGGED AS LATE

[2020-01-27 03:07] acmiras opened #5 "EARLY OUT"
![image](https://user-images.githubusercontent.com/60170851/73148020-1ca59400-40f5-11ea-9c7f-07be28b58229.png)

SYSTEM DOES NOT PROMPTED A MESSAGE "YOU WANT THIS TO APPLY AS EARLY OUT?"

[2020-01-27 03:09] acmiras commented on #5
SYSTEM DOES NOT REDIRECT THE USER TO THE EARLY OUT APPLICATION FORM

[2020-01-27 03:35] acmiras opened #6 "USER WILL CHECK THE TOTAL HOURS"
![image](https://user-images.githubusercontent.com/60170851/73148797-0b5e8680-40f9-11ea-8536-6abc85d50eb8.png)

[2020-01-27 03:38] acmiras commented on #6
![image](https://user-images.githubusercontent.com/60170851/73148895-81fb8400-40f9-11ea-8969-98b5359634a6.png)

DISCREPANCY IN TOTAL WORKING HOURS

[2020-01-27 03:39] acmiras commented on #6
THE SYSTEM DOES NOT COMPUTE THE CORRECT TOTAL WORK HOURS WHEN GENERATED IN THE   "TAR"

[2020-01-27 04:01] acmiras opened #7 "STATUS IN THE TIME RECORDS"
![image](https://user-images.githubusercontent.com/60170851/73149556-c4729000-40fc-11ea-819a-974c5da1e4f2.png)

[2020-01-27 04:02] acmiras commented on #7
SYSTEM DOES NOT DISPLAY THE USER STATUS, PRESENT

[2020-01-27 04:10] acmiras opened #8 "USER WILL CHECK THE LIST OF APPLY EARLY OUT"
![image](https://user-images.githubusercontent.com/60170851/73149805-f7695380-40fd-11ea-8020-4a6a32cb4e2d.png)

[2020-01-27 04:10] acmiras commented on #8
SYSTEM DOES NOT DISPLAY THE LIST OF APPLIED EARLY OUT APPLICATION

[2020-01-27 09:44] acmiras opened #9 "LEAVE RECORDS"
![image](https://user-images.githubusercontent.com/60170851/73164295-a45ac500-412c-11ea-8771-7f4aa27d7235.png)

[2020-01-27 09:45] acmiras commented on #9
WE DONT KNOW HOW THE SYSTEM CAN DETECT A HALF DAY LEAVE. THERE IS NO BOTTON FOR THE LEAVE THAT WANT TO USED. IF WHOLE DAY OR JUST A HALF DAY.

[2020-01-27 09:46] acmiras commented on #9
AND ALSO THE LEAVE BALANCE IS INCORRECT. IT SHOULD BE 10.

[2020-01-27 09:49] acmiras commented on #9
AND ALSO HOW THE SYSTEM WILL DETECT IF THE EMPLOYEE HAS A
*WITHOUT LEAVE CREDITS"

[2020-01-28 02:19] acmiras opened #10 "THE SYSTEM SHOULD DISPLAY THE EMPLOYEE LIST"
![image](https://user-images.githubusercontent.com/60170851/73230266-99994200-41b7-11ea-9b9d-af4c6a0a9d4f.png)

[2020-01-28 02:20] acmiras commented on #10
May we request a search botton or can you make it in alphabetical order. Thanks

[2020-01-28 02:22] acmiras commented on #10
![image](https://user-images.githubusercontent.com/60170851/73230389-00b6f680-41b8-11ea-8666-50e9ca6738b1.png)

when we click the time record botton

[2020-01-28 02:24] acmiras commented on #10
![image](https://user-images.githubusercontent.com/60170851/73230418-2a701d80-41b8-11ea-99d8-707907e41b12.png)

puwede po palagyan ng employee name para hindi po kami malito and to make sure na nasa Tamang Time record profile po kami.

[2020-01-28 02:59] acmiras opened #11 "HOLIDAY MANAGEMENT"
![image](https://user-images.githubusercontent.com/60170851/73232137-42966b80-41bd-11ea-82db-026991d3c198.png)

[2020-01-28 03:01] acmiras commented on #11
DOBLE DOBLE PO YUNG MGA STORES PO.

TAPOS REQUEST PO NAMIN NA I-SUNOD SUNOD YUNG NUMBER PABABA PARA MALAMAN DIN PO NAMIN KUNG LAHAT NG STORE NAMIN AY NASA LIST PO.

PARANG MADAMI PO KASING WALA EH.

[2020-01-28 03:24] acmiras opened #12 "HR REPORTS - DTR"
SYSTEM DISPLAYED THE SELECTED DEPARTMENT FOR PRINTING

![image](https://user-images.githubusercontent.com/60170851/73233182-b7b77000-41c0-11ea-943e-13f92edfb2f0.png)

[2020-01-28 03:25] acmiras commented on #12
![image](https://user-images.githubusercontent.com/60170851/73233237-e03f6a00-41c0-11ea-8b3e-aae5712da011.png)

[2020-01-28 03:26] acmiras commented on #12
![image](https://user-images.githubusercontent.com/60170851/73233286-fcdba200-41c0-11ea-9ec3-8f7527f3451f.png)

[2020-01-28 03:27] acmiras commented on #12
![image](https://user-images.githubusercontent.com/60170851/73233334-21377e80-41c1-11ea-844c-82ec74add20f.png)

[2020-01-28 03:28] acmiras commented on #12
MULTIPLE NAMES PO YUNG LUMABAS TAPOS INCOMPLETE PO YUNG NAMES NA NAGENERATE FOR HR DEPARTMENT HND PO LAHAT NAKUHA NA UNDER HR DEPARTMENT PO.

[2020-01-28 03:33] acmiras opened #13 "ADD EMPLOYEE - NO EMPLOYEE NUMBER"
![image](https://user-images.githubusercontent.com/60170851/73233632-0b768900-41c2-11ea-934f-7b0284f394ac.png)

[2020-01-28 03:34] acmiras commented on #13
WALA PO SYANG EMPLOYEE NUMBER, TEAM, ANG POSITION

[2020-01-28 03:36] acmiras commented on #13
![image](https://user-images.githubusercontent.com/60170851/73233707-4d073400-41c2-11ea-931f-d5c190706b94.png)

 NAG TRY PO KAMI MAG ADD NG 5 EMPLOYEES SA (HR - EMPLOYEE- ADD EMPLOYEE)

[2020-01-28 03:37] acmiras commented on #13
PUWEDE PO BANG PALAGYAN NG EMPLOYEE NUMBER/ TEAM / POSITION DUN SA ADD EMPLOYEE BOTTON???

[2020-01-28 03:38] acmiras commented on #13
IMPORTANTE PO KASI YUNG EMPLOYEE NUMBER PARA SA QUICK PUNCH.. THANK YOU PO

[2020-01-28 07:29] acmiras opened #14 "CANNOT PUNCH IN ON THE OTHER DAY"
MAY EMPLOYEE PO KAMI NA UMABOT NG MADALING ARAW YUNG PUNCH OUT NIA.

BALE NUNG MAG PPUNCH IN NA PO SYA NA SUSUNOD NA ARAW HND NA PO SYA MAKAPAG PUNCH IN.

[2020-01-29 06:19] #1 closed, assigned to nobody

[2020-02-03 05:01] acmiras opened #15 "CANNOT LOG IN IN CLOUD AND KIOSK"
![image](https://user-images.githubusercontent.com/60170851/73626815-432f7600-4685-11ea-8867-ba0160a13784.png)
![image](https://user-images.githubusercontent.com/60170851/73626835-55111900-4685-11ea-97a5-e1bda2b96563.png)

[2020-02-05 02:58] fersieval0216 commented on #15
This issue has been resolved

[2020-02-05 02:58] #15 closed, assigned to nobody

[2020-02-06 03:44] acmiras opened #16 "CLOUD PROBLEM IN LOGGING IN"
![image](https://user-images.githubusercontent.com/60170851/73904052-ca732880-48d5-11ea-94d2-8cbec7b822d1.png)

[2020-02-06 04:01] acmiras opened #17 "KIOSK NOT WORKING IN INCOGNITO"
![image](https://user-images.githubusercontent.com/60170851/73904851-600fb780-48d8-11ea-931f-97744ba2c874.png)

[2020-02-06 08:06] fersieval0216 commented on #16
Hi Ms. Aileen, try typing po your organization name (pretiolas) in the search box it should redirect na po sa kanaka cloud link ninyo po, please comment me back if okay na po thanks! :)

[2020-02-06 08:08] fersieval0216 commented on #17
Hi Ma'am Aileen, kahit po hindi sa incognito hindi po na gana? sa lahat po ba ng pc or sa pc ninyo lang po?

[2020-02-06 08:19] acmiras commented on #16
Sir ayaw po talga

On Thu, Feb 6, 2020 at 4:06 PM fersieval0216 <notifications@github.com>
wrote:

[2020-02-10 09:33] acmiras opened #18 "WALA PONG PROMPT SA EMAIL REGARDING SA CHANGE PASSWORD"
![image](https://user-images.githubusercontent.com/60170851/74137780-5f09bd80-4c2b-11ea-9475-25cd56c94848.png)

![image](https://user-images.githubusercontent.com/60170851/74137823-73e65100-4c2b-11ea-8cfc-f35cc9a906cb.png)

![image](https://user-images.githubusercontent.com/60170851/74137838-7f397c80-4c2b-11ea-9bb7-a419303dd1ee.png)

[2020-02-10 09:35] acmiras commented on #18
pag ni click ko po yung submit lumalabas naman po yung "success" pero sa email wala namn po sa messages ng new password.

[2020-02-10 11:15] fersieval0216 commented on #17
confirmed and validated by ms.aileen miras

[2020-02-10 11:15] #17 closed, assigned to nobody

[2020-02-10 11:16] fersieval0216 commented on #16
confirmed and validated by ms.aileen miras

[2020-02-10 11:16] #16 closed, assigned to nobody

[2020-02-12 03:08] acmiras commented on #14
![image](https://user-images.githubusercontent.com/60170851/74299544-f552f600-4d87-11ea-9b7a-25dfeb182f81.png)

[2020-02-14 08:40] fersieval0216 commented on #9
Hi ma'am aileen, hindi na po lalabas yung leave na yun kung wala na siyang credit for that leave. in short hindi niya na po ma apply yun. for example wala na siyang credit for VL, hindi na po lalabas sa selection yung VL sa apply leave

[2020-02-18 07:26] acmiras commented on #3
![image](https://user-images.githubusercontent.com/60170851/74713215-11acd200-5263-11ea-95db-37a41b5257bf.png)

[2020-02-18 07:27] acmiras commented on #3
![image](https://user-images.githubusercontent.com/60170851/74713239-2c7f4680-5263-11ea-8bd8-808c5ac59b3e.png)

2.76 pa din yung nakalagay po.

[2020-02-18 07:46] acmiras opened #19 "CANNOT LOG IN"
![image](https://user-images.githubusercontent.com/60170851/74714562-baf4c780-5265-11ea-9d55-4e0fe1921d79.png)

[2020-02-18 07:47] acmiras commented on #19
Lagi po syang ganyan. kaya tinatamad na po mag log in yung mga EMPLOYEES namin. nag lload lang sya ng ganyan. may internet naman po kami.

[2020-02-18 07:52] acmiras opened #20 "CANNOT PUNCH THE BREAK"
![image](https://user-images.githubusercontent.com/60170851/74714956-8f261180-5266-11ea-809b-19cc386a810a.png)

[2020-02-18 07:53] acmiras commented on #20
nag punch naman po yung employee namin pero hnd po sya maka pag punch ng break.

hnd po na cclick yung botton ng break out at break in.

[2020-02-18 08:31] acmiras opened #21 "GENERATED TAR"
![image](https://user-images.githubusercontent.com/60170851/74717756-e7134700-526b-11ea-97f8-8c1cee8ea222.png)

FIX 13 DAYS PO KAMI PERO NAKALAGAY PO 12 DAYS LANG PO.

TAPOS GAGAMIT PO AKO NG OFFSET SA UNDERTIME AT LATE PANU PO KAYA YUN?

PILING KO MALI DIN PO COMPUTE NG LATE AT UNDERTIME NA NAKUHA NIA.

[2020-02-18 08:33] acmiras commented on #21
![image](https://user-images.githubusercontent.com/60170851/74717931-38bbd180-526c-11ea-9270-665c93d29da0.png)

 NAG FILE NA DIN PO AKO NG OT PERO HND PA DIN PO NAG REREFLECT. INAAPROVE KO DIN PO YUN PERO HND PA DIN NAG REREFLECT

[2020-02-18 08:34] acmiras commented on #21
![image](https://user-images.githubusercontent.com/60170851/74718051-702a7e00-526c-11ea-8b93-bbadb898cd45.png)

PATI PO LEAVE NG FILE DIN AKO PERO HND DIN NAG REFLECT.

[2020-02-18 08:35] acmiras commented on #21
![image](https://user-images.githubusercontent.com/60170851/74718134-951ef100-526c-11ea-85e8-622cd05d1ed7.png)

AYAN PO YUNG PROOF.

[2020-02-18 08:36] acmiras commented on #21
![image](https://user-images.githubusercontent.com/60170851/74718234-c0a1db80-526c-11ea-89cf-a9313186652f.png)

[2020-02-18 08:46] acmiras commented on #3
still not working.

[2020-02-18 08:50] acmiras commented on #4
![image](https://user-images.githubusercontent.com/60170851/74719324-c3053500-526e-11ea-8834-a87d4eb017f9.png)

[2020-02-18 08:52] acmiras commented on #4
hnd po nag rereflect ng tama yung late at yung OT po.

[2020-02-18 08:55] acmiras opened #22 "QUICK PUNCH REQUESTING TO HAVE A BREAK IN AND OUT BOTTON"
![image](https://user-images.githubusercontent.com/60170851/74719644-622a2c80-526f-11ea-83a7-1c4f3a5f7921.png)

[2020-02-18 08:59] acmiras opened #23 "REQUESTING FOR SEARCH BOTTON AT ALPHABETICAL ORDER"
![image](https://user-images.githubusercontent.com/60170851/74720030-0f9d4000-5270-11ea-9503-497a121ccc44.png)

[2020-02-18 09:01] acmiras commented on #23
EMPLOYEE SCHEDULE PLS SANA MAY SEARCH BOTTON AT ALPHABETICAL ORDER

[2020-02-18 09:01] acmiras commented on #23
![image](https://user-images.githubusercontent.com/60170851/74720192-568b3580-5270-11ea-9304-0bc9e7af1d29.png)

[2020-02-18 09:02] acmiras commented on #23
LEAVE CREDIT NAKA ALPHABETICAL NAMAN PO PLS SEARCH BOTTON N LANG PO SANA. THANKS PO.

[2020-02-18 09:02] acmiras commented on #23
![image](https://user-images.githubusercontent.com/60170851/74720281-7fabc600-5270-11ea-8419-de4f5e433f66.png)

[2020-02-18 09:06] acmiras opened #24 "SITE MANAGEMENT"
![image](https://user-images.githubusercontent.com/60170851/74720616-05c80c80-5271-11ea-88c2-d675699e46b2.png)

[2020-02-18 09:08] acmiras commented on #24
SIR PA NUMERICAL ORDER NA LANG PO AND SEARCH BOTTON N LANG PO ULIT. THANKS PO.

[2020-02-18 09:18] acmiras opened #25 "PAYROLL PERIOD"
![image](https://user-images.githubusercontent.com/60170851/74721587-98b57680-5272-11ea-9ea3-ba23c432e7eb.png)

[2020-02-18 09:24] acmiras commented on #25
HEAD OFFICE  CUT OFF PO NAMIN
6 TO 20
21 TO 5

OPERATION CUT OFF PO NAMIN
28 TO 12
13 TO 27

[2020-02-18 09:25] acmiras commented on #25
DUN PO SA DEPARTMENT PANU PO YUNG STORE EMPLOYEES PO NAMIN
WALA PO SYA STORE CODE

DEPARTMENT LANG SA HEAD OFFICE NAMIN ANG MERON.

[2020-02-18 09:27] acmiras commented on #25
PANU PO PAG GUSTO NAMIN MAG GENERATE NG ONE STORE

FOR EX.
PHI 109 - GLORIETA
PRETZEL SPECIALIST AT TEAM LEADER
FOR OPERATION CUT OFF.

[2020-02-18 09:27] acmiras commented on #25
![image](https://user-images.githubusercontent.com/60170851/74722474-f4ccca80-5273-11ea-94b4-c18c06019bdb.png)

SAME SA TAR PO.

[2020-02-19 06:12] fersieval0216 commented on #7
confirm and validate by ms. aileen miras

[2020-02-19 06:12] fersieval0216 commented on #7
confirm and validate by ms. aileen miras

[2020-02-19 06:12] #7 closed, assigned to byron02, jeannie06

[2020-02-19 06:22] fersieval0216 commented on #10
confirm and validate by ms.aileen

[2020-02-19 06:22] #10 closed, assigned to byron02, jeannie06

[2020-02-19 06:24] fersieval0216 commented on #11
confirm and validate by ms.aileen miras

[2020-02-19 06:24] #11 closed, assigned to byron02, jeannie06

[2020-02-19 06:28] fersieval0216 commented on #12
confirm and validate by ms.aileen

[2020-02-19 06:28] #12 closed, assigned to byron02, jeannie06

[2020-02-19 06:46] fersieval0216 commented on #13
confirm and validated by ms.aileen miras

[2020-02-19 06:46] #13 closed, assigned to byron02, jeannie06

[2020-02-19 06:51] fersieval0216 commented on #18
confirm and validated by ms. aileen miras

[2020-02-19 06:51] #18 closed, assigned to byron02

[2020-02-19 06:52] fersieval0216 commented on #2
duplicate ticket

[2020-02-19 06:52] #2 closed, assigned to byron02, jeannie06

[2020-02-19 06:57] fersieval0216 commented on #20
confirm and validated by ms. aileen miras

[2020-02-19 06:57] #20 closed, assigned to nobody

[2020-02-19 07:35] acmiras opened #26 "DISCREPANCY IN SCHED IN CLOUD AND KIOSK"
![image](https://user-images.githubusercontent.com/60170851/74811895-6b79ce80-532d-11ea-8ab2-2cdb31d58c19.png)

![image](https://user-images.githubusercontent.com/60170851/74811921-77659080-532d-11ea-80a7-ce37d1ab0a34.png)

[2020-02-19 08:14] acmiras commented on #25
HEAD OFFICE CUT OFF
* DEPARTMENT - MONTHLY PAY - FIX 13 DAYS
1. AUDIT
2. FINANCE
3. ACCOUNTING
4. PURCHASING
5. MARKETING
6. WAREHOUSE
7. TSG
8. HR

INCLUDING:  MONTHLY PAY -  FIX 13 DAYS
STORE MANAGERS
ASSISTANT STORE MANAGER
SHIFT SUPERVISOR
SHIFT SUPERVISOR - TRAINEE
AREA MANAGER
REGIONAL MANAGER

DAILY PAY
QUIJANO,   John Renz  - WAREHOUSE
BITUIN JR.,   Rebecco - WAREHOUSE
QUINTOS,   Christoph

[2020-02-19 08:15] acmiras commented on #25
OPERATION CUT OFF

TEAM LEADER
TL TRAINEE
AND
PRETZEL SPECIALIST

PLS INDICATE THEIR SPECIFIC STORES

[2020-02-19 08:26] acmiras commented on #9
![image](https://user-images.githubusercontent.com/60170851/74815394-1c836780-5334-11ea-855d-e619460d4348.png)

NI TRY PO NAMIN UBUSIN YUNG LEAVE NA 9 DAYS PERO NAG - 2 YUNG BALANCE NIA

[2020-02-19 08:28] acmiras commented on #9
![image](https://user-images.githubusercontent.com/60170851/74815717-b6e3ab00-5334-11ea-9da3-8385c6326e1e.png)
 HND KO ALAM KUNG SAAN NG GALING YUNG 7 DAYS NA LEAVE BALANCE PO DIAN KASI SABI SA UNA 9 DAYS YUNG LEAVE BALANCE NIA TAPOS DIAN 7 DAYS KAYA NAG - 2 YUNG LEAVE BALANCE NIA DAHIL SA 7 DAYS

[2020-02-19 10:40] fersieval0216 commented on #14
as discussed, quick punch is problem here po

[2020-02-21 09:15] acmiras opened #27 "MISSING PUNCH BOTTONS"
![image](https://user-images.githubusercontent.com/60170851/75020421-afa3d500-54cd-11ea-8466-6883bd83c8a7.png)

[2020-02-21 09:17] acmiras commented on #26
![image](https://user-images.githubusercontent.com/60170851/75020527-e548be00-54cd-11ea-99af-6903006d6134.png)

DISCREPANCY PO SA DATE NG KIOSK PO.

[2020-02-24 01:51] acmiras opened #28 "CANNOT PUNCH IN KIOSK"
![image](https://user-images.githubusercontent.com/60170851/75124585-3255ab80-56eb-11ea-8cd1-ce08366e1a9e.png)

[2020-02-24 01:52] acmiras commented on #28
may internet naman po kami. both  dito sa pc ko at sa baba. pero umiikot lang sya

[2020-02-24 07:56] fersieval0216 commented on #26
confirm and validated by ms. aileen miras

[2020-02-24 07:56] #26 closed, assigned to jeannie06

[2020-02-24 07:59] fersieval0216 commented on #24
confirm and validated by ms. aileen miras

[2020-02-24 07:59] #24 closed, assigned to jeannie06

[2020-02-24 08:03] fersieval0216 commented on #23
confirm and validated by ms.aileen miras

[2020-02-24 08:03] #23 closed, assigned to jeannie06

[2020-02-24 08:17] acmiras opened #29 "HOLIDAY DISCREPANCY"
![image](https://user-images.githubusercontent.com/60170851/75136918-1ff66480-5721-11ea-88ea-96e0a9e6193f.png)

[2020-02-24 08:21] fersieval0216 commented on #4
confirm and validated by ms.aileen miras

[2020-02-24 08:21] #4 closed, assigned to byron02, jeannie06

[2020-02-24 09:36] fersieval0216 commented on #27
confirmed and validated by ms.aileen miras

[2020-02-24 09:36] #27 closed, assigned to byron02, jeannie06

[2020-02-26 05:16] acmiras commented on #29
![image](https://user-images.githubusercontent.com/60170851/75314223-17756980-589a-11ea-931c-8e5ce94319e0.png)

HOLIDAY PO KAHAPON HND PO KAMI PUMASOK PERO NAKA TAG SYA AS ABSENT

[2020-02-26 05:53] fersieval0216 commented on #29
Hi Ma'am Aileen Good afternoon po, hindi po kayo absent nyan nakalagay lang po na absent because you have a schedule for that day pero may "/ holiday" naman po so it means isasama pa din po yang araw na yan sa payroll bayad pa din po yan.

[2020-02-26 05:56] acmiras commented on #29
COPY PO THANK YOU PO :)

[2020-02-26 05:57] fersieval0216 commented on #29
pa change ko nalang po yung color to green ma'am para hindi po nakaka alarm tignan :)

[2020-02-26 06:00] fersieval0216 commented on #29
Welcome po :)

[2020-02-27 06:20] fersieval0216 commented on #28
Confirm and validated by Ms. Aileen Miras

[2020-02-27 06:20] #28 closed, assigned to byron02, jeannie06

[2020-02-27 06:21] fersieval0216 commented on #19
Confirm and validated by Ms. Aileen Miras

[2020-02-27 06:21] #19 closed, assigned to nobody

[2020-02-27 07:04] acmiras opened #30 "LEAVE / VL W/ PAY DID NOT SHOW IN TAR SUMMARY"
![image](https://user-images.githubusercontent.com/60170851/75420058-20396e80-5972-11ea-8a5d-f6fb85b2db10.png)

![image](https://user-images.githubusercontent.com/60170851/75420130-43641e00-5972-11ea-9b9c-5c947ddcbf7f.png)

![image](https://user-images.githubusercontent.com/60170851/75420185-6989be00-5972-11ea-8aaf-23898b6fd0e4.png)

[2020-03-05 01:42] acmiras opened #31 "ISSUE IN KIOSK AND CLOUD"
![image](https://user-images.githubusercontent.com/60170851/75939451-32149780-5ec5-11ea-9e85-73157f47acb1.png)

YUNG NI CHECK KO SA LOG IN SA KIOSK

![image](https://user-images.githubusercontent.com/60170851/75939547-72741580-5ec5-11ea-8e16-9bb90fd55fc3.png)

![image](https://user-images.githubusercontent.com/60170851/75939588-8c155d00-5ec5-11ea-9fc1-f9e70eeb61aa.png)

![image](https://user-image

[2020-03-05 02:55] acmiras commented on #3
![image](https://user-images.githubusercontent.com/60170851/75943315-a2c0b180-5ecf-11ea-86fa-2ccf5454cb59.png)

![image](https://user-images.githubusercontent.com/60170851/75943381-c5eb6100-5ecf-11ea-9318-fbc4d43d48bb.png)

YUNG NABABASA NA OT 1.5 HOURS OT LANG PO.

[2020-03-05 02:58] acmiras commented on #3
![image](https://user-images.githubusercontent.com/60170851/75943541-38f4d780-5ed0-11ea-80b5-b892d3837b84.png)

dito po 3 hours OT KO pero 2.5 lang yung nababasa nia

[2020-03-05 03:13] acmiras commented on #21
![image](https://user-images.githubusercontent.com/60170851/75944337-604ca400-5ed2-11ea-871b-8eed4b91fd0a.png)

[2020-03-05 03:18] acmiras commented on #21
ni lapat po namin yung system sa timecard namin nag punch alteration po kami para magawa yung punch ng timecard namin para macheck kung parehas lalabas yung summary namin sa sysrem

![image](https://user-images.githubusercontent.com/60170851/75944555-fd0f4180-5ed2-11ea-88e1-8480e50a1ab3.png)

[2020-03-05 03:20] acmiras commented on #21
![image](https://user-images.githubusercontent.com/60170851/75944658-3e075600-5ed3-11ea-92f5-fb0608c36df0.png)

pero hnd po ganyan lumabas sa system.

[2020-03-05 03:22] acmiras commented on #21
ETO PO YUNG PINAKA MAHALAGA SAMIN YUNG MAGEGENERATE NA TAR NG SYSTEM.

PLS PAKI AYOS PO ITO SALAMAT PO.

[2020-03-05 08:55] acmiras commented on #14
PAG NAKALIMOT MAG PUNCH OUT DAPAT BLANK YUNG PUNCH OUT PERO DAPAT MAKAPAG PUNCH IN PA DIN SYA KINABUKASAN.

[2020-03-05 08:57] fersieval0216 commented on #14
Confirm and validated by ms.aileen

[2020-03-05 08:57] #14 closed, assigned to byron02, jeannie06

[2020-03-05 08:57] fersieval0216 commented on #31
Confirm and validated by ms. aileen

[2020-03-05 08:57] #31 closed, assigned to nobody

[2020-03-05 09:07] acmiras commented on #30
![image](https://user-images.githubusercontent.com/60170851/75965383-bab22880-5f03-11ea-9fb2-d422d4a59335.png)

[2020-03-05 09:09] acmiras commented on #30
WALA PO SYANG USED..  BLANK PO SYA

[2020-03-05 09:33] acmiras opened #32 "SAMPLE TIMECARDS FOR REFERENCE"
![image](https://user-images.githubusercontent.com/60170851/75967734-38c3fe80-5f07-11ea-8a40-ba5faefb40d2.png)

![image](https://user-images.githubusercontent.com/60170851/75967768-46798400-5f07-11ea-9c65-6a633c630270.png)

SAMPLE TIMECARD OF MONTHLY PAY

[2020-03-05 09:36] acmiras commented on #32
![image](https://user-images.githubusercontent.com/60170851/75967941-8a6c8900-5f07-11ea-9838-0bf8b214f148.png)

![image](https://user-images.githubusercontent.com/60170851/75967979-9d7f5900-5f07-11ea-84f5-64d6cc7c5cd6.png)

SAMPLE TIMECARD OF MONTHLY PAY WITH RD DUTY

[2020-03-05 09:38] acmiras commented on #32
![image](https://user-images.githubusercontent.com/60170851/75968231-01098680-5f08-11ea-89fd-65148bdda582.png)

![image](https://user-images.githubusercontent.com/60170851/75968254-09fa5800-5f08-11ea-807f-10f4c5666b4b.png)

SAMPLE TIMECARD OF DAILY PAY

[2020-03-10 05:39] fersieval0216 commented on #29
Close and Validated by Ms.Aileen Miras

[2020-03-10 05:39] #29 closed, assigned to byron02, jeannie06

[2020-03-10 05:42] fersieval0216 commented on #22
Close and Validated by Ms.Aileen Miras

[2020-03-10 05:42] #22 closed, assigned to byron02, jeannie06

[2020-03-10 06:05] fersieval0216 commented on #9
Close and Validated by Ms.Aileen

[2020-03-10 06:05] #9 closed, assigned to byron02, jeannie06

[2020-03-10 06:12] acmiras commented on #5
![image](https://user-images.githubusercontent.com/60170851/76284815-38e24680-62d9-11ea-8d4e-72c549bda410.png)

[2020-03-10 06:21] fersieval0216 commented on #3
Confirm and validated by ms.aileen miras

[2020-03-10 06:21] #3 closed, assigned to byron02, jeannie06

[2020-03-11 07:32] acmiras commented on #8
![image](https://user-images.githubusercontent.com/60170851/76392879-67c9ec80-63ad-11ea-85c6-4441e93ed703.png)

[2020-03-11 07:34] fersieval0216 commented on #8
![asdasdasd](https://user-images.githubusercontent.com/51081296/76393084-c98a5680-63ad-11ea-8978-b377296b0010.PNG)

[2020-03-11 08:08] fersieval0216 commented on #5
Confirm and validated by ms.aileen miras

[2020-03-11 08:08] #5 closed, assigned to byron02, jeannie06

[2020-03-11 08:08] fersieval0216 commented on #8
Confirm and validated by ms.aileen miras

[2020-03-11 08:08] #8 closed, assigned to byron02, jeannie06

[2020-07-01 07:07] acmiras opened #33 "question 1"
![image](https://user-images.githubusercontent.com/60170851/86213556-77638000-bbac-11ea-9ac0-95b589e4a2a6.png)

para saan po yung "register"
hnd naman po ako HO EXECUTIVE

tapos yung schedule po nakalagay
DEPARTMENT MANAGER PO.

[2020-07-01 07:14] acmiras opened #34 "loading"
![image](https://user-images.githubusercontent.com/60170851/86214220-754df100-bbad-11ea-9589-8da664ecc56e.png)

Ganyang lang po sya loading pero hnd wala naman lumalabas na data

[2020-07-01 07:15] acmiras commented on #34
![image](https://user-images.githubusercontent.com/60170851/86214390-b2b27e80-bbad-11ea-862f-10144128c1cf.png)

kahit sa kiosk ganyan lang din lumalabas

may internet naman po ako

[2020-07-01 07:26] acmiras opened #35 "missing VL OPS"
![image](https://user-images.githubusercontent.com/60170851/86215434-2903b080-bbaf-11ea-86d3-b91c829d61b0.png)

wala po yung VL - OPS po

[2020-07-03 06:38] acmiras commented on #34
![image](https://user-images.githubusercontent.com/60170851/86439271-d7882c80-bd3a-11ea-9e1a-7425406ef3dd.png)

still loading the CLOUD

NGAUN WHITE NA LANG PO SYA

[2020-07-07 06:14] acmiras opened #36 "Try logging thru phone"
![Screenshot_20200707_140454](https://user-images.githubusercontent.com/60170851/86725228-5224a680-bfde-11ea-9cf2-5994c6a41cd1.jpg)

Ganyan po pag click ko ng link hnd sya violet

![Screenshot_20200707_140815](https://user-images.githubusercontent.com/60170851/86725323-6668a380-bfde-11ea-8da2-295da129fc1d.jpg)

Loading lang din po

[2020-07-07 06:38] acmiras commented on #36
![received_1131881823865521](https://user-images.githubusercontent.com/60170851/86728811-a715ec00-bfe1-11ea-8b0b-41163f96529e.jpeg)

Naka access po kami sa kiosk via phone sa log in tapos ganyan po itsura nia

Wala syang punch sa taas

Kasi yung quick punch po hnd gumagana nag lloading lang sa phone

[2020-07-07 07:26] VCI-Jojo commented on #36
@acmiras please use the link provided below to access the Kiosk:

https://kiosk.kodanda.cloud/#/login/pretiolas

Let me know if you can do Quick Punch and Login already. Thanks

[2020-07-08 02:10] acmiras opened #37 "Cant Access via phone"
![Screenshot_20200708_100637](https://user-images.githubusercontent.com/60170851/86866282-77202480-c085-11ea-8e5c-620216caae03.jpg)

I can't access on my phone I dont why I already clear the history on phone.

[2020-07-09 03:25] acmiras opened #38 "quick punch via desk top"
![image](https://user-images.githubusercontent.com/60170851/86993483-aeeab180-c1d6-11ea-8da6-f4001996bd1b.png)

im trying to quick punch (kiosk) via my desktop pero hnd po nag susuccess yung entry kaya dun na lang ako sa log in sa kiosk ng punch

[2020-07-09 03:25] acmiras commented on #38
hnd po sya nag susubmit pag ni cclick ko po

[2020-07-09 05:56] acmiras opened #39 "SOBRANG DAMING BREAK OUT AT BREAK IN SA BOTTON SA LOG IN"
![image](https://user-images.githubusercontent.com/60170851/87002245-c2544780-c1eb-11ea-8f64-bdc41fe35aed.png)

![image](https://user-images.githubusercontent.com/60170851/87002328-ee6fc880-c1eb-11ea-9b49-ca583df899b5.png)

KAHIT SA CHANGE SCHEDULE NA TAB ANG DAMING BREAK NA KALAGAY

[2020-07-15 04:32] zetaleona commented on #39
Hi!

Kindly check the punch buttons. Thank you!

[2020-07-16 06:40] acmiras opened #40 "LATE NOT ACCURATE COMPUTATION"
![image](https://user-images.githubusercontent.com/60170851/87635827-48cfd280-c772-11ea-9d2b-0f15c7a23f32.png)

10 MINS LANG DAPAT ANG OVERBREAK

PERO ANG NAKALAGAY 17 MINS

[2020-07-16 06:55] acmiras opened #41 "LEAVE CONCERN"
![image](https://user-images.githubusercontent.com/60170851/87637062-45d5e180-c774-11ea-8b05-2656c51ef365.png)

![image](https://user-images.githubusercontent.com/60170851/87637100-52f2d080-c774-11ea-916f-061f9fc16c8a.png)

PAG NI CCLICK PO YUNG ARRROW DOWN NG LEAVE

VACANTION LEAVE LANG YUNG LUMALABAS

PERO DAPAT MY SL DAPAT

[2020-07-16 07:26] acmiras commented on #41
![image](https://user-images.githubusercontent.com/60170851/87640046-b7179380-c778-11ea-88f6-f494fc2b12b2.png)

WALA PA DING VL - OPS

[2020-07-16 07:27] acmiras commented on #41
![image](https://user-images.githubusercontent.com/60170851/87640151-df06f700-c778-11ea-80fe-a097a720ee8f.png)

[2020-07-16 07:31] acmiras opened #42 "HOLIDAY CONCERN"
![image](https://user-images.githubusercontent.com/60170851/87640410-458c1500-c779-11ea-9e3b-15ce9d7c7430.png)

BAKIT SA SITES PO WALANG INDICATION OR SELECTION KUNG SINO YUNG PASOK SA HOLIDAY NA I ADD KO PO.

[2020-07-16 07:39] acmiras commented on #42
![image](https://user-images.githubusercontent.com/60170851/87640668-a582bb80-c779-11ea-95b2-88431ffa6cd5.png)

AYAN NAKA NATIONAL TULOY PO NAKALAGAY IMBIS NA FOR BAGUIO HOLIDAY LANG PO SYA

[2020-07-16 07:46] acmiras opened #43 "LEAVE CONCERN"
![image](https://user-images.githubusercontent.com/60170851/87641916-5d649880-c77b-11ea-8eb0-fd93cbdf179e.png)

EMPLOYEE NUMBER
EMPLOYEE SCHEDULE
SITE?

PARANG HND NAMAN PO SYA NEED

SA SEARCH BOTTON

ANG NEED PO
EMPLOYEE SCHEDULE
AT NAME PO NG EMPLOYEE
PARA MAS MABILIS MAKA PAG SEARCH SA LEAVE CREDIT

[2020-07-16 07:48] acmiras commented on #43
![image](https://user-images.githubusercontent.com/60170851/87642212-c815d400-c77b-11ea-960a-7c596b3929ee.png)

[2020-07-16 07:53] acmiras commented on #43
![image](https://user-images.githubusercontent.com/60170851/87642713-76217e00-c77c-11ea-903c-195793f6b155.png)

[2020-07-16 08:01] acmiras opened #44 "TIMESHEET OR TAR"
![image](https://user-images.githubusercontent.com/60170851/87643548-969e0800-c77d-11ea-91e0-a0b440587b19.png)

WALANG BOTTON PO KUNG SAAN MA GEGENERATE YUNG TAR / TIMESHEET PO.

[2020-07-16 08:41] VCI-Jojo commented on #44
@acmiras DTR and TAR generation buttons are under Register.

Click on Register > VIEW> Then check which register you want to access, click VIEW> Check if there are pending Approvals, then click LOCK > Click on Generate Daily Time Records > Click Finalize > Click Time and Attendance Reports > Click Finalize.

[2020-07-17 04:21] acmiras commented on #40
![image](https://user-images.githubusercontent.com/60170851/87748257-fbae3800-c827-11ea-825b-a9797c719924.png)

MAY PROBLEM PO TALGA YUNG LATE PO.

[2020-07-17 05:07] acmiras opened #45 "OVERTIME CONCERN"
![image](https://user-images.githubusercontent.com/60170851/87750574-695d6280-c82e-11ea-997b-018aeba05547.png)

HND KO ALAM BAKIT MERON SYANG APPLY OT EH 6 PM NAMAN PO YUNG OUT

[2020-07-17 05:38] acmiras commented on #45
![image](https://user-images.githubusercontent.com/60170851/87752393-d541ca00-c832-11ea-997e-2fa090517a87.png)

[2020-07-17 05:41] acmiras opened #46 "UNDERTIME CONCERN"
![image](https://user-images.githubusercontent.com/60170851/87752548-32d61680-c833-11ea-82d3-66346c4d75f5.png)

[2020-07-17 05:42] acmiras commented on #40
![image](https://user-images.githubusercontent.com/60170851/87752632-60bb5b00-c833-11ea-9d60-cccba416a3a2.png)

 IT SHOULD BE NO LATE

PERO MERON NAKALAGAY NA LATE

[2020-07-17 05:44] acmiras commented on #42
![image](https://user-images.githubusercontent.com/60170851/87752707-93fdea00-c833-11ea-9173-ccbdf97a7980.png)

SO AYAN NA PO NALAGAY DIAN SA GILID YUNG HOLLIDAY FOR BAGUIO LANG PO KASI SYA.

[2020-07-17 05:46] acmiras commented on #40
![image](https://user-images.githubusercontent.com/60170851/87752849-e8a16500-c833-11ea-9222-08f2e645ce55.png)

[2020-07-17 06:20] acmiras commented on #44
![image](https://user-images.githubusercontent.com/60170851/87754928-90209680-c838-11ea-9397-4d7ca54f20ab.png)

SIR SAAN PO YUNG LOCK?

[2020-07-17 07:34] acmiras opened #47 "REQUESTING TEMPORARY APPROVER OF THE SAMPLE STORE WHO USES THE KONDANDA"
![image](https://user-images.githubusercontent.com/60170851/87760755-d2e76c00-c842-11ea-8705-2088c6f15988.png)

HI PO REQUEST LANG PO AKO NA AKO MUNA PANSAMANTALA MAG APPROVE PO SAUNIMART AT SA GREENBELT PO NA STORE NA GUMAGAMIT NG SYSTEM PO THANKS PO.

[2020-07-20 02:57] VCI-Jojo commented on #44
@acmiras as relayed via SMS, you should be able to see the registers and cutoffs, kindly validate on your end.

[2020-07-20 03:20] acmiras commented on #47
![image](https://user-images.githubusercontent.com/60170851/87896409-bafa2d00-ca7a-11ea-8690-58a273b1d522.png)

salamat po.

pero ang nakita ko lang sa approver po ay PRETZEL SPECIALIST

SA CHANGE SCHEDULE PART PO YUNG KAY ALFRED FRIAS NAG FILE PO SYA PERO HND LUMALABAS SAKIN PO..

[2020-07-20 03:20] acmiras commented on #47
![image](https://user-images.githubusercontent.com/60170851/87896532-12000200-ca7b-11ea-83e5-926fe1fe57ed.png)

[2020-07-20 05:10] VCI-Jojo commented on #42
@acmiras you will need to add Baguio under Site Management first so you can assign the specific holiday to Baguio. Thanks

[2020-07-20 05:12] VCI-Jojo commented on #45
@acmiras there's a 10 minute Pre Shift OT that can be applied, that's why the "Apply Overtime" button is present.

For reference: 0.17 hours is shown since 10 minutes was concerted to hours e.g. 10 mins / 60 mins = 0.17 hours

[2020-07-20 05:19] acmiras commented on #45
post OT lang po ang meron samin walang pong pre OT panu po kaya yun ?

On Mon, Jul 20, 2020, 1:12 PM Joe Batenga <notifications@github.com> wrote:

[2020-07-20 05:30] cr8vwebsolutions commented on #45
@acmiras advise employees to not apply for preshift OT and advise managers not to approve it, thanks.

[2020-07-20 06:42] VCI-Jojo commented on #34
@acmiras are you still experiencing this concern?

[2020-07-20 06:53] acmiras commented on #42
![image](https://user-images.githubusercontent.com/60170851/87908269-b04e9080-ca98-11ea-912d-7718948c594e.png)

SIR KAHIT GUSTO KO PO MAG ADD NG SITE KASO WALA PONG NA CCLICK PO SA PAG ADD NG HOLIDAY PO

[2020-07-20 06:54] acmiras commented on #42
![image](https://user-images.githubusercontent.com/60170851/87908380-dbd17b00-ca98-11ea-990b-ef422df1a559.png)

KAHIT I EDIT KO PO YUNG HOLIDAY NG BAGUIO WALA PA DIN BOTTON DUN SA SITE NA PART PO.

[2020-07-28 07:13] acmiras opened #48 "FORGET PASSWORD CONCERN"
.
![image](https://user-images.githubusercontent.com/60170851/88631481-ce457200-d0e4-11ea-96ef-c28093f4bebc.png)

nakalagay po success pero wala naman po dumadating sa email na verification

[2020-07-28 07:22] acmiras commented on #41
![image](https://user-images.githubusercontent.com/60170851/88632379-14e79c00-d0e6-11ea-9d64-73f894954ae5.png)

[2020-07-28 07:26] acmiras opened #49 "TIMESHEET / REGISTER CONCERN"
![image](https://user-images.githubusercontent.com/60170851/88632779-a6efa480-d0e6-11ea-8594-9769156c150f.png)

[2020-07-28 07:29] acmiras commented on #49
DALAWA LANG KAMI NI ALFRED FRIAS AT AKO ANG NAG PUNCH PERO NUNG NAG GENERATE AKO ANG ANDAMING EMPLOYEE NUMBER TAPOS YUNG EMPLOYEE NUMBER KO WALA PO

[2020-07-28 07:35] acmiras commented on #49
DI B PO DAPAT PUWEDENG SORTING YAN LIKE PUWEDE PER DEPARTMENT

[2020-07-28 07:36] acmiras commented on #49
NAKA LINE UP LANG SYANG GANYAN WALA KASING PANGALAN SO HND KO ALAM KUNG SINO SINO YAN

[2020-07-28 07:36] acmiras commented on #49
SANA MAY SEARCH BOTTON PO AT SORT BOTTON PARA PAG MERON KAILANGAN MADALING HANAPIN THANKS

[2020-07-28 07:42] acmiras commented on #49
![image](https://user-images.githubusercontent.com/60170851/88634459-f7680180-d0e8-11ea-9175-670b15e63d2e.png)

[2020-07-28 07:47] acmiras commented on #49
YUNG SORTONG PLS KUNG PUWEDE PO BY DEPARTMENT

[2020-07-28 07:57] acmiras commented on #49
![image](https://user-images.githubusercontent.com/60170851/88636082-0bacfe00-d0eb-11ea-9052-064fe311587b.png)

ETO PO YUNG KANAKA

[2020-07-28 08:00] acmiras commented on #49
![image](https://user-images.githubusercontent.com/60170851/88636375-647c9680-d0eb-11ea-9a99-8a706c2de37a.png)

[2020-07-28 08:00] acmiras commented on #49
PLEASE SEE THIS TICKETS

[2020-07-28 08:06] acmiras opened #50 "PROBLEM IN LOGGING IN POS AND ANDROID PHONE"
![image](https://user-images.githubusercontent.com/60170851/88637030-3b103a80-d0ec-11ea-90fb-876348a0d852.png)

[2020-07-28 10:59] VCI-Jojo commented on #50
@acmiras Incorrect URL for the Kiosk, it should be:

https://kiosk.kodanda.cloud/#/login/pretiolas

[2020-08-06 10:39] acmiras commented on #49
![image](https://user-images.githubusercontent.com/60170851/89522617-16b30d00-d814-11ea-9152-06dedfac5b31.png)

[2020-08-06 10:39] acmiras commented on #49
still cant generated the timesheet

[2020-08-06 10:43] acmiras commented on #49
![image](https://user-images.githubusercontent.com/60170851/89522992-b6709b00-d814-11ea-903d-0c034e9c765b.png)

[2020-08-06 10:44] acmiras commented on #49
ganyan po lumalabas sa HO pag ni click yung display na botton

[2020-08-06 10:45] acmiras commented on #49
![image](https://user-images.githubusercontent.com/60170851/89523152-fc2d6380-d814-11ea-9219-1d1c48a26b42.png)

wala ba syang search botton hnd po ba talaga sya naka per department?

[2020-08-06 10:48] acmiras commented on #49
sa mga names na yan wala name ko at ni ALFRED FRIAS

[2020-08-06 10:50] acmiras opened #51 "PUNCH ALTERATION GONE"
![image](https://user-images.githubusercontent.com/60170851/89523580-aad1a400-d815-11ea-9757-197cc2094f84.png)

[2020-08-11 02:09] VCI-Jojo commented on #51
Resolved as per @acmiras

[2020-08-11 02:09] VCI-Jojo commented on #50
Resolved as per @acmiras

[2020-08-11 02:11] VCI-Jojo commented on #50
Inconsistent Access - please observe.

[2020-08-11 02:31] VCI-Jojo commented on #49
Check for Rose Macavinta.

Filtering via Department, Surnames for easier searching.

[2020-08-11 02:33] VCI-Jojo commented on #48
This will be activated after sign off of Pilot Run.

[2020-08-11 02:35] VCI-Jojo commented on #47
Resolved as per @acmiras as she can approve applications already.

[2020-08-11 02:37] VCI-Jojo commented on #46
Resolution of ticket #49 to validate.

[2020-08-11 02:38] VCI-Jojo commented on #45
Resolution of ticket #49 to validate.

[2020-08-11 02:40] VCI-Jojo commented on #44
Resolved as per @acmiras as per run through the system.

[2020-08-11 02:44] VCI-Jojo commented on #43
Re-upload leave credits, missing as per datasheet. @zetaleona

[2020-08-11 02:50] VCI-Jojo commented on #42
Please check datasheets for sites e.g. Baguio, Davao @zetaleona

[2020-08-11 02:54] VCI-Jojo commented on #39
Resolved for closing.

[2020-08-11 02:55] VCI-Jojo commented on #38
Resolved as per @acmiras, for closing.

[2020-08-11 02:58] zetaleona commented on #42
May I have the copy of datasheets sir., @Vasavah Projects
<projects@vasavah.com>

On Tue, Aug 11, 2020 at 10:50 AM Joe Batenga <notifications@github.com>
wrote:

[2020-08-11 03:09] #39 closed, assigned to nobody

[2020-08-11 03:09] zetaleona commented on #39
This issue is resolved.

[2020-08-11 03:11] #47 closed, assigned to nobody

[2020-08-11 03:13] #51 closed, assigned to nobody

[2020-08-11 05:58] acmiras opened #52 "HOLIDAY SITE NUMBERING"
![image](https://user-images.githubusercontent.com/60170851/89862486-ab35ba80-dbda-11ea-86fa-0fe846aeca2a.png)

[2020-08-11 05:59] acmiras commented on #52
SIR PA ALLIGN NAMAN NG SITE NA NUMBERING PABABA PA TOP TO BOTTOM YUNG NUMBERING TAPOS YUNG NUMBERING NA MAG UUMPISA SA MABABA PA TAAS

[2020-08-11 08:43] VCI-Jojo commented on #38
Duplicate ticket of #50, for closing @zetaleona

[2020-08-11 08:43] VCI-Jojo commented on #37
Duplicate ticket of #50, for closing @zetaleona

[2020-08-11 08:44] VCI-Jojo commented on #36
Duplicate ticket of #50, for closing @zetaleona

[2020-08-11 08:44] VCI-Jojo commented on #35
@zetaleona for datasheet validation and upload if needed.

[2020-08-11 08:45] VCI-Jojo commented on #34
Resolved, for closing @zetaleona

[2020-08-11 08:48] #36 closed, assigned to nobody

[2020-08-11 08:49] #34 closed, assigned to nobody

[2020-08-11 08:53] zetaleona commented on #35
This is noted.

[2020-08-11 08:59] #38 closed, assigned to nobody

[2020-08-11 08:59] #37 closed, assigned to nobody

[2020-08-11 09:00] VCI-Jojo commented on #42
@acmiras as agreed during the meeting, kindly add sites and local holidays via the system, closing this ticket.

[2020-08-11 09:00] #42 closed, assigned to nobody

[2020-08-11 09:01] VCI-Jojo commented on #33
@acmiras we can change this in the system, this was encoded on the datasheets provided, also these are template names for the schedule and register.

[2020-08-11 09:02] #50 closed, assigned to nobody

[2020-08-24 09:36] VCI-Jojo commented on #41
@acmiras Please validate on your end if your leaves are already showing as well as VL - OPS. Thank you.

[2020-08-24 09:38] VCI-Jojo commented on #48
@acmiras we've activated this already so you can test, kindly check it is already working on your end.

[2020-08-24 09:38] VCI-Jojo commented on #35
@acmiras Please validate this on your end if it is already showing. Thank you

[2020-08-24 09:51] acmiras opened #53 "HOLIDAY CONCERN"
![image](https://user-images.githubusercontent.com/60170851/91030844-58c0b900-e632-11ea-8ba4-020cf9ac86ee.png)

[2020-08-24 09:52] acmiras commented on #53
HND PO BA PUWEDE ISUNOD SUNOD YUNG MGA HOLIDAY NA NAKADEPEND SA DATE KASI HALOHALO SYA NAKAKAHILO PO TIGNAN SALAMAT PO PARANG JAN - DEC YUNG FORMAT

[2020-08-28 00:42] VCI-Jojo commented on #53
@acmiras We've applied the changes you've requested, kindly validate on your end. Thank you.

[2020-09-03 07:17] VCI-Jojo commented on #6
@acmiras We've uploaded fixes for the Total Work Hours, please validate on your end. Thank you.

[2020-09-03 07:18] VCI-Jojo commented on #21
@acmiras We've uploaded the patch for the fixed 13 days, please validate on your end. Thank you.

[2020-09-03 07:20] VCI-Jojo commented on #52
@acmiras We've applied the changes you've requested, kindly validate on your end. Thank you.

[2020-09-03 07:22] VCI-Jojo commented on #30
@acmiras We've applied fixes for the leaves on the TAR, kindly validate on your end. Thank you.

[2020-09-04 01:24] acmiras opened #54 "cant access the site both the kiosk and cloud"
![image](https://user-images.githubusercontent.com/60170851/92188863-50694900-ee90-11ea-9682-4c2d43e5bdbf.png)

[2020-09-04 01:25] acmiras commented on #54
![image](https://user-images.githubusercontent.com/60170851/92188946-8ad2e600-ee90-11ea-9d34-da741c1b0a39.png)

[2020-09-04 01:49] VCI-Jojo commented on #54
@acmiras Please install AnyDesk to your workstation so I can check your settings and troubleshoot remotely. Thanks

https://anydesk.com/en/downloads

[2020-09-04 02:25] acmiras commented on #54
![image](https://user-images.githubusercontent.com/60170851/92192612-f0c36b80-ee98-11ea-8905-56fde49f7f56.png)

[2020-09-04 02:25] acmiras commented on #54
![image](https://user-images.githubusercontent.com/60170851/92192631-00db4b00-ee99-11ea-8f10-27cb68841eca.png)

[2020-09-04 04:53] VCI-Jojo commented on #54
@acmiras As per our phone call earlier, we've fixed the loading issue reported, please confirm on your end. Thank you.

[2020-09-04 05:40] acmiras opened #55 "NO PUNCH ALTERRATION"
![image](https://user-images.githubusercontent.com/60170851/92203648-3d687000-eeb4-11ea-900b-c6ceacbc1db1.png)

[2020-09-04 05:41] acmiras commented on #54
![image](https://user-images.githubusercontent.com/60170851/92203679-54a75d80-eeb4-11ea-9252-d5efff6a5cbf.png)
 STILL CANT ACCESS KIOSK

[2020-09-04 05:53] acmiras opened #56 "MISSING PUNCH BOTTONS IN LOG IN"
![image](https://user-images.githubusercontent.com/60170851/92204372-f0859900-eeb5-11ea-953b-cbf27aaa4f71.png)

[2020-09-04 05:53] acmiras commented on #56
TAPOS AUG 31 PA PO YUNG DATE SIR PUNCH RECORD PO

[2020-09-04 06:42] acmiras opened #57 "ISSUE IN OPERATION CUT OFF"
![image](https://user-images.githubusercontent.com/60170851/92207974-cc798600-eebc-11ea-9cb5-c4674d6460fc.png)

[2020-09-04 06:43] acmiras commented on #57
![image](https://user-images.githubusercontent.com/60170851/92208032-e5823700-eebc-11ea-801c-e2ee35d9bd90.png)

BAKIT MERON STORE MANAGER SA CUT OFF NG OPERATION PO.

PRETZEL SPECIALIST AT TEAM LEADER PO ANG SA CUT OFF NA TO

[2020-09-04 06:46] acmiras opened #58 "DTR ISSUE"
![image](https://user-images.githubusercontent.com/60170851/92208264-6b05e700-eebd-11ea-95e3-7909960ebe31.png)

[2020-09-04 06:47] acmiras commented on #58
WALA PONG NAME AT STORE CODE... IMPORTANTE PO YUN EH

[2020-09-04 06:48] acmiras commented on #58
![image](https://user-images.githubusercontent.com/60170851/92208395-ac969200-eebd-11ea-90f1-9c2465b2913c.png)

ASAN PO YUNG WORKING HOURS NIA? ANG MERON LANG PO NUM,BER N NAKALAGAY SA LATE PO.

[2020-09-04 06:49] acmiras commented on #58
![image](https://user-images.githubusercontent.com/60170851/92208475-db146d00-eebd-11ea-9ac1-64c204d1fce3.png)

[2020-09-04 06:50] acmiras commented on #58
![image](https://user-images.githubusercontent.com/60170851/92208505-ecf61000-eebd-11ea-9829-d9f93edf34fc.png)

[2020-09-04 06:51] acmiras commented on #58
![image](https://user-images.githubusercontent.com/60170851/92208559-08611b00-eebe-11ea-8b0d-2bfdc5108eca.png)

ETO NA PO PINAKA LAST SA DTR

LAHAT PO NAKA ZERO.

[2020-09-04 07:09] acmiras opened #59 "Time and Attendance Report issue"
![image](https://user-images.githubusercontent.com/60170851/92210824-06995680-eec2-11ea-9421-4f315dd78633.png)

anu po ibigsabihin nian naka thousand yung hours

[2020-09-04 07:21] acmiras commented on #59
![image](https://user-images.githubusercontent.com/60170851/92210946-3ea09980-eec2-11ea-8ba8-ff725af24c1f.png)

eto po ganun din PERO WALANG EMPLOYEE NAME AND POSITION PO..

[2020-09-04 07:22] acmiras commented on #59
PALAGYAN NAMAN PO NG STORE CODE PO.

[2020-09-04 07:23] acmiras commented on #57
![image](https://user-images.githubusercontent.com/60170851/92211180-9b9c4f80-eec2-11ea-983d-c20bb65c1e12.png)

[2020-09-04 07:26] acmiras commented on #57
![image](https://user-images.githubusercontent.com/60170851/92211332-e0c08180-eec2-11ea-9b34-291cc82045be.png)

 MALI YUNG PAYROLL PERIOD NA NAKALAGAY
JUNE 01 - 30, 2020

[2020-09-04 07:33] acmiras commented on #59
ETO GAWA KO  PO TO MANUAL
SAME CUT OFF AUG 28 - SEPT 12
KAY ALMONTE

![image](https://user-images.githubusercontent.com/60170851/92212008-ec607800-eec3-11ea-99eb-1adf8fade54b.png)

88 HOURS EQUIVALENT TO 11 DAYS OK NAKUHA NIO NMN PO YUN  PERO SAINYO PO WALANG SYANG HOLIDAY PAY.

TAPOS TIMESHEET KO PO MERON STORE CODE SOBRANG IMPORTANTE PO NUN.

[2020-09-06 03:01] VCI-Jojo commented on #55
@acmiras Upon checking, there is no Punch Out for August 28 so please have the employee Punch Out so the Punch Alteration button will appear. Thank you.

[2020-09-06 23:40] VCI-Jojo commented on #54
@acmiras We've applied a patch for the Kiosk yesterday, kindly validate if you can access already. Thank you.

[2020-09-06 23:46] VCI-Jojo commented on #56
@acmiras We've applied a patch for the missing buttons yesterday, kindly validate if you can see them already. Thank you.

[2020-09-09 02:31] VCI-Jojo commented on #57
@acmiras We've applied the patch to address your concern for this, please validate on your end. Thank you.

[2020-09-09 02:35] VCI-Jojo commented on #59
@acmiras We've applied the patch to address your concern for this, please validate on your end. Thank you.

[2020-09-09 02:35] VCI-Jojo commented on #58
@acmiras We are working on the store code / site and will advise once it has been added for your checking. Thank you.

[2020-09-14 00:35] acmiras opened #60 "QUICK PUNCH NOT WORKING ALWAYS"
![image](https://user-images.githubusercontent.com/60170851/93032635-3cc69b00-f665-11ea-9751-68998d97e177.png)

[2020-09-14 00:37] acmiras commented on #60
LAGI PO SYANG GANYAN HND NA DIN PO GUMAGANA SA STORE YUNG QUICK PUNCH KAYA SA LOG IN SILA NAG PPUNCH
TAPOS PAG PINAPASOK YUNG PIN SABI MALI DAW YUNG PIN OR EMPLOYEE NUMBER KAHIT TAMA NAMAN PO YUNG NILALAGAY PO.

[2020-09-14 00:53] acmiras opened #61 "OT CONCERN"
![image](https://user-images.githubusercontent.com/60170851/93033169-ab0c5d00-f667-11ea-9072-7264a39050f2.png)

[2020-09-14 00:54] acmiras commented on #61
HND KO PO ALAM BAKIT MAY OT NA 0.50 PERO YUNG UNDERTIME PO B NA O.50 IBIGSABIHIN PO B NUN 30 MINS? HND NMAN 50 MINS PO SYA?

[2020-09-14 00:59] acmiras opened #62 "OVERBREAK CONCERN"
![image](https://user-images.githubusercontent.com/60170851/93033373-8cf32c80-f668-11ea-8de5-42f9972ef111.png)

[2020-09-14 01:00] acmiras commented on #62
NALAGAY PO SA OVERBREAK O.17 DAPAT PO 1O MINS PO DI B ?

[2020-09-14 01:22] acmiras opened #63 "REGISTER CONCERN"
![image](https://user-images.githubusercontent.com/60170851/93034140-a3e74e00-f66b-11ea-87ab-871a6afd2296.png)
 NASA OPERATION CUT OFF PO AKO SIR PERO MERON PA DIN NAKIKITANG MGA STORE HEADS NA NAMES NA KAILANGAN GENERATE

SA OPERATION CUT OFF SIR PRETZEL SPECIALIST AT TEAM LEADER PO ANG NI PAPAYROLL PO NAMIN DUN

[2020-09-14 01:24] acmiras commented on #63
![image](https://user-images.githubusercontent.com/60170851/93034233-fcb6e680-f66b-11ea-97bb-56a64fd13925.png)

AYAN PO MERON PO MGA NAMES NG STORE HEADS OR MANAGERS  PO

[2020-09-14 01:58] VCI-Jojo commented on #62
@acmiras 0.17 is equivalent to 10 mins, 10 mins / 60 mins = 0.17

[2020-09-14 02:00] VCI-Jojo commented on #61
@acmiras Yes, 0.5 means 30 mins, using this conversion: 30 mins / 60 mins = 0.5

[2020-09-15 01:55] acmiras commented on #55
![image](https://user-images.githubusercontent.com/60170851/93155816-808ad480-f739-11ea-897b-3c76e1fd27bf.png)

[2020-09-15 01:56] acmiras commented on #55
sir panu po yung ganyan yung sept 14 nakalimutan ko mag punch hnd ko na po b mag ppunch alteration po yun? PAG NO PUNCH OUT NO PAY NA PO SYA?

[2020-09-15 02:40] VCI-Jojo commented on #63
@acmiras Hi Aileen, this was based on the datasheets submitted before, to change an employees register, please go his/her profile and then edit the register on the profile. Please see screenshot below for reference:

![Change Register](https://user-images.githubusercontent.com/64577963/93158991-df534c80-f73f-11ea-8ffe-7bca4e7c4910.png)

[2020-09-15 14:59] VCI-Jojo commented on #60
@acmiras We've deployed a patch for this, please validate on your end if it is already working. Thank you,

[2020-09-15 14:59] VCI-Jojo commented on #55
@acmiras We've deployed a patch for this, please validate on your end if it is already working. Thank you,

[2020-09-25 00:18] acmiras opened #64 "LAPTOP CONCERN"
![image](https://user-images.githubusercontent.com/60170851/94212763-a5d0cd00-ff07-11ea-9cd7-91fe4efaf676.png)

[2020-09-25 00:18] acmiras commented on #64
![image](https://user-images.githubusercontent.com/60170851/94212783-b3865280-ff07-11ea-9d36-b38285d57a26.png)

[2020-09-25 00:19] acmiras commented on #64
PERO NAKAKAPAG GMAIL AT YAHOO NAMAN PO AKO SIR NAKAKAGAWA PA NGA AKO NG TICKET NGAUN EH . KAYA PILING KO MAY INTERNET NAMAN KAMI

[2020-09-27 11:57] acmiras opened #65 "loading issue again"
![image](https://user-images.githubusercontent.com/60170851/94364434-ba75b680-00fb-11eb-9f54-b8447697264f.png)

[2020-09-27 11:58] acmiras commented on #65
hnd po ako maka out ngaun po

[2020-09-27 11:59] acmiras commented on #65
![image](https://user-images.githubusercontent.com/60170851/94364455-e4c77400-00fb-11eb-8b1e-fd08986061e8.png)

[2020-09-27 11:59] acmiras commented on #65
even sa cloud ganyan din po sya

[2020-09-27 13:08] acmiras opened #66 "employee concern"
![image](https://user-images.githubusercontent.com/60170851/94365698-8bfcd900-0105-11eb-877a-189797ab801d.png)

[2020-09-27 13:11] acmiras commented on #66
![image](https://user-images.githubusercontent.com/60170851/94365743-e1d18100-0105-11eb-977e-51674f5d725d.png)

EM001163
AND
EM001164 NO NAME

[2020-09-27 15:44] acmiras commented on #66
![image](https://user-images.githubusercontent.com/60170851/94369246-30d5e100-011b-11eb-8ec9-7cb0a812c796.png)

PAG DATING PO SA PAGE 30 ONWARDS DOUBLE DOUBLE NA PO YUNG EMPLOYEE NUMBER.
YUNG ISANG NUMBER MAY NAME NG EMPLOYEE YUNG ISA WALA PO.

[2020-09-27 16:25] acmiras commented on #63
![image](https://user-images.githubusercontent.com/60170851/94370196-1a328880-0121-11eb-849f-7435f8c08e4b.png)

BAKIT WALA PO YUNG SPET 6 TO 20 NA CUTOFF PO.

[2020-09-28 03:22] acmiras opened #67 "OT CONCERN"
![image](https://user-images.githubusercontent.com/60170851/94387427-b2119000-017c-11eb-80df-ac541a7c715e.png)

Total (hrs): 5.00

Punch: 9:00 AM - 2:00 PM

Overtime (hrs): 4.00 BAKIT MAY " APPLY OVERTIME " PO ?

[2020-09-28 05:19] VCI-Jojo commented on #65
@acmiras Patch has been uploaded for the loading time records, please check if you are still encountering the concern. Thank you.

[2020-09-28 05:21] VCI-Jojo commented on #66
@acmiras Duplicate Employee Number has been addressed, please confirm on your end. Thank you.

[2020-09-28 07:27] VCI-Jojo commented on #67
@acmiras Patch has been uploaded for this concern, please validate on your end. Thank you.

[2020-09-28 08:26] acmiras commented on #67
![image](https://user-images.githubusercontent.com/60170851/94408428-5c061200-01a7-11eb-8015-7d09e1bd3a39.png)

sir anyare bakit double double na yung date po????

[2020-09-28 11:50] VCI-Jojo commented on #67
@acmiras As per my SMS, please do clear cache on your browser and reopen, please let me know if there are no more duplicate dates. Thank you.

[2020-10-04 06:35] acmiras opened #68 "no punch bottons on break"
![image](https://user-images.githubusercontent.com/60170851/95008703-c78c2b80-064e-11eb-894d-d88b5a2f4580.png)

[2020-10-04 06:48] acmiras opened #69 "leave issue"
![image](https://user-images.githubusercontent.com/60170851/95008932-7715cd80-0650-11eb-854c-6e09387293eb.png)

bakit po yung type of leave ay "VL - OPS"?

taga VL - HO po ako eh

[2020-10-04 06:56] acmiras opened #70 "MISSING APPLY OT BOTTONS"
![image](https://user-images.githubusercontent.com/60170851/95009069-9f51fc00-0651-11eb-9af3-3b58a7110c3d.png)

![image](https://user-images.githubusercontent.com/60170851/95009077-a973fa80-0651-11eb-9c97-61b436bee889.png)

PAREHAS PO WALANG APPLY OT BOTTONS PO SA KIOSK AT CLOUD PO.

[2020-10-04 07:18] acmiras opened #71 "OVERTIME ISSUE"
![image](https://user-images.githubusercontent.com/60170851/95009417-88f96f80-0654-11eb-9ab1-dbfaae3db243.png)

DAHIL WALA PONG APPLY PUNCH BOTTONS SA LABAS DITO PO AKO NAG TRY MAG FILE NG OT

SA APPLY ADVANCE OVERTIME.

OK GUMANA NMAN PO

NAKITA NAMAN SA CLOUD - APPROVALS OT

![image](https://user-images.githubusercontent.com/60170851/95009463-e7265280-0654-11eb-8590-625c776cfda4.png)

[2020-10-04 07:20] acmiras commented on #71
SEPT 24  AND SEPT 21 ANG THE REST PO WALA PONG NABABASA NA OT PO

![image](https://user-images.githubusercontent.com/60170851/95009495-1c32a500-0655-11eb-8ae4-f68a22285627.png)
 NAKA ZERO PO SYA.

[2020-10-04 07:28] acmiras opened #72 "LEAVE CONCERN"
![image](https://user-images.githubusercontent.com/60170851/95009635-26a16e80-0656-11eb-903f-639cbe96a2df.png)

SA HCM SETTINGS

LEAVE TEMPLATE KUMPLETO NMN

[2020-10-04 07:33] acmiras commented on #72
PERO PAG PUNTA MO SA

HR / LEAVE CREDIT

![image](https://user-images.githubusercontent.com/60170851/95009670-741ddb80-0656-11eb-8257-6d1536dec184.png)

![image](https://user-images.githubusercontent.com/60170851/95009676-7d0ead00-0656-11eb-990d-4c29514bcbc2.png)

KULANG NG SL - OPS NA CODE.

PANU PO KAYA YUN YUNG

SL - OPS AND VL OPS - ( AY PARA SA TEAM LEADER AND PRETZEL SPECIALIST

YUNG

VL - H

[2020-10-04 07:36] acmiras commented on #72
![image](https://user-images.githubusercontent.com/60170851/95009792-42594480-0657-11eb-8fdc-73766e60b6e1.png)

AYAN PO YUNG REGISTER DI B MAY

1. HEAD OFFICE EXE
2. HEAD OFFICE
3 OPERATION

[2020-10-04 08:08] acmiras commented on #63
![image](https://user-images.githubusercontent.com/60170851/95010368-6454c600-065b-11eb-8ec8-f1e2cd28068e.png)

![image](https://user-images.githubusercontent.com/60170851/95010400-aa118e80-065b-11eb-8795-cfe34068fd53.png)

LATEST CUT OFF NG OPS PERO ANDUN PA DIN YUNG MGA STORE MANAGERS NA NI EDIT KO NA YUNG REGISTER NILA PARA MAPUNTA SILA SA HEAD OFFICE REGISTER

[2020-10-04 08:34] acmiras opened #73 "GENERATE TIME RECORD"
![image](https://user-images.githubusercontent.com/60170851/95010866-530db880-065f-11eb-87c1-eb42e6e217f2.png)

![image](https://user-images.githubusercontent.com/60170851/95010877-64ef5b80-065f-11eb-9b0f-35aba7b14309.png)

WALA NA PO YUNG MGA NAMES PO PARA MAVIEW YUNG TIME RECORD PO

[2020-10-04 08:36] acmiras commented on #73
![image](https://user-images.githubusercontent.com/60170851/95010957-b992d680-065f-11eb-8d71-bc82230224e7.png)

![image](https://user-images.githubusercontent.com/60170851/95010963-c3b4d500-065f-11eb-93e0-6ac05f37c5f4.png)

AYAN PO BOTH HO AND OPS PO YAN

[2020-10-04 23:37] acmiras opened #74 "LOADING ISSUE AGAIN"
![image](https://user-images.githubusercontent.com/60170851/95029823-a45c8d00-06dd-11eb-898c-71235a50a7be.png)

![image](https://user-images.githubusercontent.com/60170851/95029826-a9214100-06dd-11eb-8be2-1b2962eb8293.png)

[2020-10-05 02:00] VCI-Jojo commented on #69
@acmiras You will just need to assign VL - HO to your account and and remove VL - OPS. Thank you.

[2020-10-05 02:01] acmiras commented on #69
panu po sir ?

On Mon, Oct 5, 2020, 10:00 AM Joe Batenga <notifications@github.com> wrote:

[2020-10-05 02:04] VCI-Jojo commented on #72
@acmiras You will just need to add the SL - OPS leave template so it will be available for the OPS. Thank you.

[2020-10-05 02:34] VCI-Jojo commented on #69
![Add Leave](https://user-images.githubusercontent.com/64577963/95035025-438d7e80-06f6-11eb-8413-2e131ec4fc27.PNG)

[2020-10-05 02:34] VCI-Jojo commented on #74
I've advised our support team regarding the reported concern, will update you once patch has been done. Thank you.

[2020-10-06 02:28] acmiras commented on #71
![image](https://user-images.githubusercontent.com/60170851/95151956-87e45180-07be-11eb-8e23-891143369149.png)

sir wala pa din apply OT NA BOTTONS po sa SEPT 21 TO OCT 5 NA CUT OFF PO

[2020-10-06 03:23] acmiras commented on #69
![image](https://user-images.githubusercontent.com/60170851/95155255-5079a300-07c6-11eb-9b2f-493455170819.png)

SIR PANU PONG ASSIGN?

[2020-10-06 03:38] acmiras commented on #73
![image](https://user-images.githubusercontent.com/60170851/95156112-4f497580-07c8-11eb-93e0-3e2584beb0ab.png)

BAKIT WALA PA DIN PO SI FRIAS SA CUT OFF NG HEAD OFFICE PO.

NAAYOS KO PO NA PO LAHATT NG STORE YUNG REGISTER NA PART SA HEAD OFFICE PERO BAKIT KULANG KULANG PA DIN PO.

[2020-10-06 03:54] acmiras opened #75 "DISCREPANCY IN TAR AND DTR"
![image](https://user-images.githubusercontent.com/60170851/95156991-73a65180-07ca-11eb-8787-7b3a18a6c335.png)

TAR PO ITO

![image](https://user-images.githubusercontent.com/60170851/95157054-96d10100-07ca-11eb-9fac-a69fdc155516.png)

DTR PO ITO

[2020-10-06 04:07] acmiras commented on #75
![image](https://user-images.githubusercontent.com/60170851/95157709-7013ca00-07cc-11eb-9136-9ce408e6c241.png)

[2020-10-06 04:07] acmiras commented on #75
![image](https://user-images.githubusercontent.com/60170851/95157751-86218a80-07cc-11eb-8166-cab24cfcbc85.png)

[2020-10-06 04:09] acmiras commented on #75
sir naguguluhan na po talaga ako sa TS na to.

HND KO PO MAGETS YUNG LATE NA "2"
YUNG ABSENT NA "1"
AT UNDERTIME NA "11"

[2020-10-06 04:11] acmiras commented on #75
HND PO PUWEDE YUNG LATE AT UNDERTIME NAKA SUMMARY NA "PER MINUTE"

YUNG OT PO "NAKA PER HOUR"

[2020-10-06 04:51] VCI-Jojo commented on #75
@acmiras I've already endorsed the DTR and TAR hours discrepancy to the team. However, the per hour is standard so we won't be converting it to minutes. Thanks

[2020-10-06 04:54] VCI-Jojo commented on #75
HND KO PO MAGETS YUNG LATE NA "2"
YUNG ABSENT NA "1"
AT UNDERTIME NA "11"

@acmiras this is the number of times you've been late, absent and have undertime on your time records

[2020-10-06 05:27] acmiras commented on #75
bale sir asan po yung summary ng late at undertime po?

[2020-10-06 05:29] acmiras commented on #75
@acmiras this is the number of times you've been late, absent and have undertime on your time records

pero sir parang male pa din yung number of time na Undertime po hnd naman 11 times po yung UT po.

[2020-10-06 05:36] acmiras commented on #63
![image](https://user-images.githubusercontent.com/60170851/95162705-cdae1380-07d8-11eb-9f53-51c6286d0a9e.png)

loading lang po.

[2020-10-11 23:40] acmiras commented on #75
sir kamusta po itong ticket na ito?

[2020-10-12 00:01] acmiras opened #76 "DTR concern - AUG 21 - SEPT 5"
![image](https://user-images.githubusercontent.com/60170851/95693749-8dc7b000-0c60-11eb-805b-0caf1ebb5da5.png)

![image](https://user-images.githubusercontent.com/60170851/95693752-96b88180-0c60-11eb-9e47-928743521a83.png)

![image](https://user-images.githubusercontent.com/60170851/95693759-9fa95300-0c60-11eb-80f3-727b23da4072.png)

![image](https://user-images.githubusercontent.com/60170851/9569

[2020-10-12 00:05] acmiras commented on #76
![image](https://user-images.githubusercontent.com/60170851/95693896-6de4bc00-0c61-11eb-995f-0557921a2c5f.png)

![image](https://user-images.githubusercontent.com/60170851/95693907-8359e600-0c61-11eb-8e6e-42db0c173aaf.png)

![image](https://user-images.githubusercontent.com/60170851/95693909-8a80f400-0c61-11eb-9de6-4fc9e096316c.png)

SIR KULANG YUNG DATA AT MALI MALI YUNG PUWESTO NUNG NUMBERS TAPO

[2020-10-12 00:21] acmiras commented on #76
ETO PO YUNG TIME AND ATTENDANCE REPORT

![image](https://user-images.githubusercontent.com/60170851/95694192-2e1ed400-0c63-11eb-91a7-e928f14217c4.png)

9 DAYS ?

HND PO BAYAD YUNG DALAWANG LEGAL HOLIDAY

AUG 21 ANG AUG 31 ..

TAPOS YUNG LATE AND UNDERTIME NAKA PER HOUR PO SILA DI BA HND SILA NAKA PER MINUTE PUWEDE BANG I PER MINUTES SILA TAPOS YUNG OVERBREAK WALA SYANG SARILING COLOMN

LATE AT UND

[2020-10-12 00:40] acmiras opened #77 "FRIAS TRANFER TO HO REGISTER"
![image](https://user-images.githubusercontent.com/60170851/95694782-6542b480-0c66-11eb-9a7a-05871305515e.png)

![image](https://user-images.githubusercontent.com/60170851/95694809-7986b180-0c66-11eb-8e50-55af41358937.png)

SI FRIAS PO WALA PA DIN SYA SA HEAD OFFICE NA REGISTER

[2020-10-12 00:52] acmiras commented on #72
SL - OPS AND VL OPS - ( AY PARA SA TEAM LEADER AND PRETZEL SPECIALIST

YUNG

VL - HO AND SL - HO - ( AY PARA SA LAHAT NG HEAD OFFICE EMPLOYEES AT DEPART HEADS EXECUTIVE)

SIR PANU PO ITONG LEAVE NA ITO?

PARANG NAKA GENERAL PO KASI YUNG LEAVE NA REGULAR PERO SAMIN KASI NAKA PER POSITION DIN SYA

[2020-10-15 02:18] acmiras opened #78 "store heads still in OPERATION REGISTER"
![image](https://user-images.githubusercontent.com/60170851/96068901-a7bafa00-0ecf-11eb-8c0d-986fdaf85b43.png)

[2020-10-15 03:01] acmiras opened #79 "no store code in generate time and attendance report"
![image](https://user-images.githubusercontent.com/60170851/96071935-af7d9d00-0ed5-11eb-81de-70f5d9187d24.png)

[2020-10-15 03:58] acmiras opened #80 "leave concern"
![image](https://user-images.githubusercontent.com/60170851/96075469-aa245080-0edd-11eb-9d15-da4d0bb07503.png)

pag ni save po sya zero pa din po lumalabas

![image](https://user-images.githubusercontent.com/60170851/96075498-be684d80-0edd-11eb-9aab-9990793cfc2b.png)

[2020-10-15 04:01] acmiras commented on #80
![image](https://user-images.githubusercontent.com/60170851/96075672-261e9880-0ede-11eb-9965-446ff02f3770.png)

![image](https://user-images.githubusercontent.com/60170851/96075700-33d41e00-0ede-11eb-9a4b-4f706f48b41f.png)

[2020-10-15 04:32] acmiras opened #81 "CONCERN"
![image](https://user-images.githubusercontent.com/60170851/96077356-2751c480-0ee2-11eb-82f0-2bf727dd215a.png)

Schedule: 9:00 AM - 6:00 PM

Punch: 6:58 AM - 3:01 PM

October 12, 2020

Overbreak (hrs): 0.00
Undertime: 2.98
Overtime (hrs): 0.00
Total (hrs): 8.03
Status: Present

dapat sir undertime di b dapat: 3 to 6 pm and that is  3 HOURS
tapos yung duty 9 to 3 pm AND THAT IS 6 HOURS

[2020-10-15 05:37] VCI-Jojo commented on #76
Closing this ticket as validated via G Meets for validation of the DTR with TAR.

[2020-10-15 05:37] #76 closed, assigned to nobody

[2020-10-15 05:38] VCI-Jojo commented on #75
Closing this ticket as validated via G Meets for validation of the DTR with TAR.

[2020-10-15 05:38] #75 closed, assigned to nobody

[2020-10-15 05:39] VCI-Jojo commented on #77
Closing this ticket as validated via G Meets for validation that Frias has appeared under HO Register

[2020-10-15 05:39] #77 closed, assigned to nobody

[2020-10-15 06:02] VCI-Jojo commented on #80
Validated via G Meets, leave credits are saving properly.

[2020-10-15 06:02] #80 closed, assigned to nobody

[2020-10-15 06:05] VCI-Jojo commented on #81
Closing for validation with DTR and TAR for this cutoff

[2020-10-15 06:05] #81 closed, assigned to nobody

[2020-10-15 06:09] #55 closed, assigned to nobody

[2020-10-15 06:09] #56 closed, assigned to nobody

[2020-10-15 06:09] #57 closed, assigned to nobody

[2020-10-15 06:09] #58 closed, assigned to nobody

[2020-10-15 06:09] #59 closed, assigned to nobody

[2020-10-15 06:09] #60 closed, assigned to nobody

[2020-10-15 06:09] #61 closed, assigned to nobody

[2020-10-15 06:09] #62 closed, assigned to nobody

[2020-10-15 06:09] #63 closed, assigned to nobody

[2020-10-15 06:09] #64 closed, assigned to nobody

[2020-10-15 06:09] #65 closed, assigned to nobody

[2020-10-15 06:09] #66 closed, assigned to nobody

[2020-10-15 06:09] #67 closed, assigned to nobody

[2020-10-15 06:09] #68 closed, assigned to nobody

[2020-10-15 06:09] #69 closed, assigned to nobody

[2020-10-15 06:09] #70 closed, assigned to nobody

[2020-10-15 06:09] #71 closed, assigned to nobody

[2020-10-15 06:09] #72 closed, assigned to nobody

[2020-10-15 06:09] #73 closed, assigned to nobody

[2020-10-15 06:09] #74 closed, assigned to nobody

[2020-10-15 06:09] #33 closed, assigned to nobody

[2020-10-15 06:09] #35 closed, assigned to nobody

[2020-10-15 06:09] #44 closed, assigned to nobody

[2020-10-15 06:10] #45 closed, assigned to nobody

[2020-10-15 06:10] #46 closed, assigned to nobody

[2020-10-15 06:10] #48 closed, assigned to nobody

[2020-10-15 06:10] #49 closed, assigned to nobody

[2020-10-15 06:10] #41 closed, assigned to nobody

[2020-10-15 06:10] #43 closed, assigned to nobody

[2020-10-15 06:10] #52 closed, assigned to nobody

[2020-10-15 06:10] #53 closed, assigned to nobody

[2020-10-15 06:10] #40 closed, assigned to nobody

[2020-10-15 06:10] #54 closed, assigned to nobody

[2020-10-15 06:12] #6 closed, assigned to nobody

[2020-10-15 06:12] #21 closed, assigned to nobody

[2020-10-15 06:12] #30 closed, assigned to nobody

[2020-10-15 06:13] #25 closed, assigned to nobody

[2020-10-15 07:05] acmiras opened #82 "holiday did not reflect on DAILY ATTENDANCE REPORT"
![image](https://user-images.githubusercontent.com/60170851/96088185-a3a2d280-0ef7-11eb-8c64-bd2c7fcd1ac8.png)

![image](https://user-images.githubusercontent.com/60170851/96088323-d51b9e00-0ef7-11eb-998f-ea780e1dee3f.png)

REGULAR 9 DAYS LANG PO YUNG NABABASA NIA

[2020-10-15 07:05] acmiras commented on #82
Period Covered: 2020-08-21 - 2020-09-05

[2020-10-15 07:09] acmiras opened #83 "SCHEDULE CODE FOR FIXING"
![image](https://user-images.githubusercontent.com/60170851/96088697-6723a680-0ef8-11eb-842a-e78da922b062.png)

PLEASE YUNG MAG MADALI PO SANA NILA MAIINTINDIHAN

SCHEDULE AND DATE PO YUNG NEED NILA MAKITA PO SLAMAT PO.

[2020-10-18 02:51] acmiras opened #84 "schedule to be fix"
![image](https://user-images.githubusercontent.com/60170851/96357543-d0412f00-112f-11eb-80c9-6fae2210a17c.png)

baka po puwedeng sama sama yung word na OPENING SCHEDULE AND NAKA NUMBERING DIN PO. SALAMAT PO ANG HIRAP PO MAG HANAP NG SCHEDULE DAHIL HALO HALO

[2020-10-20 07:24] #78 closed, assigned to nobody

[2020-10-20 07:24] #79 closed, assigned to nobody

[2020-10-20 07:24] #82 closed, assigned to nobody

[2020-10-20 13:37] acmiras opened #85 "APPROVAL MATRIX CONCERN"
SIR BAKIT GANUN

BINABAGO NMN YUNG APPROVAL MATRIX TAPOS SINASAVE KO PERO PAG CHECK  KO ANDUN PADIN NAME KO

[2020-10-20 13:37] acmiras commented on #85
![image](https://user-images.githubusercontent.com/60170851/96593727-6b96f780-131c-11eb-8e09-e3ca13577369.png)

[2020-10-21 02:07] acmiras opened #86 "PUNCH ALTERATION CONCERN"
![image](https://user-images.githubusercontent.com/60170851/96664316-180cc400-1385-11eb-90e3-9734b98f0687.png)

ANU PONG MANGYAYARE SA OCTOBER 19 PAG NAKALIMUTAN MAG PUNCH OUT WALA PO KASING PUNCH ALTERATION SA GILID PO

[2020-10-21 02:17] VCI-Jojo commented on #86
@acmiras it will be marked as absent, I'll send you the instructions on how to Edit Time Records from the HR/Admin side for needed corrections. Thanks

[2020-10-21 02:31] acmiras opened #87 "TIMECARD DATE CONCERN"
![image](https://user-images.githubusercontent.com/60170851/96665805-4e980e00-1388-11eb-852c-248aa7f483f9.png)

OCTOBER 16 PO YUNG NAKALIMUTAN KO MAG OUT

![image](https://user-images.githubusercontent.com/60170851/96665860-6c657300-1388-11eb-83de-57578f77ec9a.png)

![image](https://user-images.githubusercontent.com/60170851/96665877-74bdae00-1388-11eb-9f18-b2598c19e68f.png)

![image](https://user

[2020-10-21 02:46] acmiras opened #88 "EXECUTIVE GENERATE DTR"
![image](https://user-images.githubusercontent.com/60170851/96666725-4e990d80-138a-11eb-9089-40a5a2051d6c.png)

![image](https://user-images.githubusercontent.com/60170851/96666773-64a6ce00-138a-11eb-876b-a1fd53b2549b.png)

![image](https://user-images.githubusercontent.com/60170851/96666817-79836180-138a-11eb-89cf-0057457e0680.png)

![image](https://user-images.githubusercontent.com/60170851/9666

[2020-10-21 09:00] #83 closed, assigned to nobody

[2020-10-21 09:00] #84 closed, assigned to nobody

[2020-10-21 09:00] #85 closed, assigned to nobody

[2020-10-21 09:23] acmiras opened #89 "loading error"
![image](https://user-images.githubusercontent.com/60170851/96700500-17465300-13c2-11eb-8b6a-29e091728688.png)

[2020-10-21 09:23] acmiras commented on #89
nag clear cache na po ako eg pero hnd na po ako maka access

[2020-10-21 09:28] acmiras opened #90 "SURNAME SEARCH NOT WORKING IN LEAVE CREDIT"
![image](https://user-images.githubusercontent.com/60170851/96701085-c71bc080-13c2-11eb-841f-c3e0090fe578.png)

[2020-10-21 09:47] acmiras opened #91 "GRACE PERIOD"
PLS SET THE CORRESPONDING GRACE PERIOD ON PUNCH IN

DEPARTMENT HEADS - 60 MINS

REGIONAL MANAGER AND AREA MANAGER - 15 MINS

TEAM LEADER - 5 MINS
TEAM LEADER TRAINEE -5 MINS
SHIFT SUPERVISOR - 5 MINS
ASSISTANT STORE MANAGER - 5 MINS
STORE MANAGER - 5 MINS

[2020-10-22 02:20] VCI-Jojo commented on #89
@acmiras Upon checking the leave credits using the tester admin account for your instance, I was able to see the leave credit listing, please see screenshot provided below. Please try to clear cache again and open a new page to check. Thanks

![Auntie - Leave Credits](https://user-images.githubusercontent.com/64577963/96816590-283da580-1450-11eb-8442-1e78c188afe2.PNG)

[2020-10-22 02:50] acmiras opened #92 "approval matrix concern"
![image](https://user-images.githubusercontent.com/60170851/96818459-1e1da600-1454-11eb-8963-bc532c33ad96.png)

andito pa din po name ko hnd sya nabubura :(

[2020-10-29 07:05] acmiras opened #93 "WRONG APPROVAL MATRIX"
![image](https://user-images.githubusercontent.com/60170851/97536421-13d14e00-19f8-11eb-8cc8-fbcd8d9fb4c2.png)

SPG PO APPROVAL MATRIX NG DEPART HEADS PO

[2020-10-29 07:06] acmiras commented on #93
PILING KO HND LANG POSYA YUNG MALI YUNG APPROVAL MATRIX HND KO NA PO SILA MAISA ISA KASI ANDUN NA PO SA EXCEL FILE YUNG APPROVAL MATRIX PO PER PERSON

[2020-10-29 07:12] acmiras opened #94 "WRONG ROLE AND APPROVAL MATRIX"
![image](https://user-images.githubusercontent.com/60170851/97536878-ca353300-19f8-11eb-99f5-f5ca396ae3ee.png)

![image](https://user-images.githubusercontent.com/60170851/97536925-e20cb700-19f8-11eb-8664-b344f8e01e96.png)

![image](https://user-images.githubusercontent.com/60170851/97536957-ef29a600-19f8-11eb-88a2-4e507299b712.png)

INCOMPLETE DETAILS DIN PO WALANG BDAY EMAIL ADDESS EMPLOYEE STAT

[2020-11-03 00:03] acmiras opened #95 "2 MESIAS, STEPHEN ON EXEC AND HO"
![image](https://user-images.githubusercontent.com/60170851/97932459-037bf300-1dab-11eb-9364-c2dbef6f609f.png)

![image](https://user-images.githubusercontent.com/60170851/97932493-1c84a400-1dab-11eb-8584-c74d86cbac46.png)

[2020-11-03 00:07] acmiras commented on #95
OK NA PO PALA ITO NEED LANG I UNLOCK

[2020-11-03 00:21] acmiras opened #96 "WRONG ROLE AND APPROVAL MATRIX"
![image](https://user-images.githubusercontent.com/60170851/97933367-869e4880-1dad-11eb-8eee-b7bc162838d6.png)

![image](https://user-images.githubusercontent.com/60170851/97933383-8f8f1a00-1dad-11eb-8923-8731cc23a3fc.png)

[2020-11-03 00:24] acmiras commented on #96
![image](https://user-images.githubusercontent.com/60170851/97933469-d2e98880-1dad-11eb-9c62-9169a41afca3.png)

![image](https://user-images.githubusercontent.com/60170851/97933479-d8df6980-1dad-11eb-92a6-036316e87067.png)

MALI PO YUNG SITE AT APPROVAL MATRIX

[2020-11-03 00:26] acmiras commented on #96
![image](https://user-images.githubusercontent.com/60170851/97933611-35428900-1dae-11eb-8008-11a0e0b862e4.png)

![image](https://user-images.githubusercontent.com/60170851/97933625-3e335a80-1dae-11eb-804f-e5fb1e475b90.png)

MALI PO APPROVAL MATRIX

[2020-11-03 00:29] acmiras commented on #96
![image](https://user-images.githubusercontent.com/60170851/97933773-a8e49600-1dae-11eb-85a7-5ae4e22e436e.png)

![image](https://user-images.githubusercontent.com/60170851/97933791-b0a43a80-1dae-11eb-95de-cfe00f73ff27.png)

MALI APPROVAL MATRIX, ROLE, NO SITE

[2020-11-09 05:29] acmiras opened #97 "APPROVAL MATRIX IN OPERATION NAKA EMPLOYEE YUNG ROLE"
![image](https://user-images.githubusercontent.com/60170851/98503458-86131f80-228f-11eb-83df-65deb0c9129e.png)

[2020-11-09 05:30] acmiras commented on #97
![image](https://user-images.githubusercontent.com/60170851/98503504-a4791b00-228f-11eb-9f10-a12b8f5d0859.png)

[2020-11-09 05:32] acmiras commented on #97
![image](https://user-images.githubusercontent.com/60170851/98503646-00dc3a80-2290-11eb-8e58-96634fe31bc3.png)

[2020-11-09 05:33] acmiras commented on #97
![image](https://user-images.githubusercontent.com/60170851/98503689-26694400-2290-11eb-83db-4b2b252ec093.png)

[2020-11-09 05:39] acmiras commented on #97
![image](https://user-images.githubusercontent.com/60170851/98503982-c9ba5900-2290-11eb-9eaf-9bf837322326.png)

SI RENZ PO NAKA EMPLOYEE YUNG ROLE
PERO MANAGER PO NI SET NAMIN N ROLE NIA DAHIL TL TRAINEE PO SYA

![image](https://user-images.githubusercontent.com/60170851/98504033-e8b8eb00-2290-11eb-83a6-028cfa77dd6f.png)

[2020-11-09 05:42] acmiras commented on #97
![image](https://user-images.githubusercontent.com/60170851/98504183-49482800-2291-11eb-95d4-eb123d3874c7.png)

SI RODELIO PO NAKA TEAM LEADER PO SYA KAYA DAPAT ROLE NIA MANAGER PERO NAKA EMPLOYEE PO

TAPOS APPROVAL MATRIX NIA NAKA EMPLOYEE DIN PO.

YUNG MGA USERNAME NMN NG APPROVAL MATRIX TAMA NMN PO MALI LANG YUNG ROLE NILA.

[2020-11-09 05:43] acmiras commented on #97
RANDOM LANG PO YUNG CHECKING KO SA EMPLOYEE PROFILE HND KO NA PO INIISA ISA.

[2020-11-09 05:45] acmiras commented on #97
AS PER CHEKING NMN PO RANDOMLY TAMA NMN NA PO YUNG STORE NAKA ASSIGN SA EMPLOYEES AT YUNG APPROVAL MATRIX USERNAME YUNG ROLE NA LANG PO YUNG ERROR

[2020-11-09 05:57] acmiras opened #98 "APPROVAL MATRIX IN HEAD OFICE NAKA EMPLOYEE YUNG ROLE"
![image](https://user-images.githubusercontent.com/60170851/98505170-8e6d5980-2293-11eb-8fb2-4740c56caae4.png)

[2020-11-09 06:28] acmiras commented on #98
![image](https://user-images.githubusercontent.com/60170851/98507026-bf4f8d80-2297-11eb-9431-49edce025dd4.png)

![image](https://user-images.githubusercontent.com/60170851/98507059-d0000380-2297-11eb-8990-e746f003f55a.png)

MANAGER PO ROLE NIA PERO NAKA EMPLOYEE PO

[2020-11-09 06:30] acmiras commented on #98
![image](https://user-images.githubusercontent.com/60170851/98507195-10f81800-2298-11eb-8844-f879529f2b56.png)

ETO DIN PO APPROVAL MATIRX NAKA EMPLOYEE YUNG ROLE DAPAT MANAGER PO

[2020-11-09 06:37] acmiras commented on #98
![image](https://user-images.githubusercontent.com/60170851/98507648-fd00e600-2298-11eb-877c-0b57483c43c6.png)

![image](https://user-images.githubusercontent.com/60170851/98507740-2b7ec100-2299-11eb-8608-daf450a734dc.png)

ETO DAPAT PO PAREHAS MANAGER YUNG ROLE.

[2020-11-09 06:47] acmiras commented on #98
![image](https://user-images.githubusercontent.com/60170851/98508363-54538600-229a-11eb-9b20-9881de2780a5.png)

WRONG ROLE AND WRONG EMAIL ADDRESS

MALI DIN ROLE NUNG APPROVA; MATRIX

![image](https://user-images.githubusercontent.com/60170851/98508443-73eaae80-229a-11eb-9564-bc6972395789.png)

[2020-11-09 06:52] acmiras commented on #98
![image](https://user-images.githubusercontent.com/60170851/98508815-17d45a00-229b-11eb-99c6-b9ae31fcda0e.png)

WRONG ROLE AND EMAIL ADDRESS

![image](https://user-images.githubusercontent.com/60170851/98508850-2a4e9380-229b-11eb-8055-a5b0bb343eaa.png)

[2020-11-10 04:41] acmiras opened #99 "NO USERNAME ON HIS PROFILE"
![image](https://user-images.githubusercontent.com/60170851/98628669-1154e980-2352-11eb-803f-2e586a0fbd24.png)

[2020-11-10 08:48] acmiras opened #100 "site on Time and Attendance Report"
![image](https://user-images.githubusercontent.com/60170851/98650842-66a1f280-2374-11eb-8773-7e0431e4ccfb.png)

sir baka po puwedeng pasama sama ng store po

![image](https://user-images.githubusercontent.com/60170851/98650926-8b966580-2374-11eb-8c97-5c5f8f7fe849.png)

parang ganyan sir :)

[2020-11-10 08:52] acmiras commented on #100
![image](https://user-images.githubusercontent.com/60170851/98651278-02336300-2375-11eb-9608-bde89732e4eb.png)

sir kung puwede mapag sama per position or per site mas maganda po

HALO HALO PO KASI SYA

[2020-11-10 08:53] acmiras commented on #100
![image](https://user-images.githubusercontent.com/60170851/98651505-4f173980-2375-11eb-9f14-5d83fe3b78d2.png)

[2020-11-18 09:02] acmiras opened #101 "NO USERNAME"
![image](https://user-images.githubusercontent.com/60170851/99508422-8615cc80-29bf-11eb-9ea4-322d4c0b1c41.png)

WALA PO USERNAME PROFILE NIA, DAPAT IEEDIT KO LANG SITE NIA TAPOS YAN PO YUNG NAKITA KO

![image](https://user-images.githubusercontent.com/60170851/99508540-ab0a3f80-29bf-11eb-89e0-e2016954f557.png)

PARANG NKAA RETRICT PO ATA AKO SA PAG EDIT NG USERNAME

[2020-11-18 09:45] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99513578-c37d5880-29c5-11eb-8a53-c978230e7dc5.png)

2ND NAME NA WALANG USERNAME SA PROFILE AT HND DIN PO NAGSAVE YUNG EMAIL NA PINASOK KO PO.

[2020-11-18 09:51] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99514295-8c5b7700-29c6-11eb-8b49-0bbd09495a7c.png)

3RD NA WALANG USERNAME BAKIT ANG DAMI PO WALANG USERNAME PATI ROLE NIEEDIT KO PA ISA ISA PO. .

[2020-11-18 09:51] acmiras commented on #101
NAG UUPDATE LANG AKO NG SITE TAPOS PAG CHECK KO NG PROFILE ANG DAMING WALANG USERNAME AT ROLES PO.

[2020-11-18 09:56] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99514972-523ea500-29c7-11eb-9ffc-5cce699097d1.png)

4TH PO NA WALANG USERNAME PO

HALOS BUONG STORE NG PHI 142 WALANG USERNAME YUNG PROFILE NILA

[2020-11-18 23:57] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99602580-b3549000-2a3c-11eb-836b-4c2b70f67129.png)

5th NO USERNAME, NO EMAIL ADDRESS, NO ROLE.

[2020-11-19 00:24] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99604458-81452d00-2a40-11eb-9ef0-66433db97dfc.png)

6TH NO ROLE / NO EMAIL / NO USERNAME

[2020-11-19 00:25] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99604580-c8cbb900-2a40-11eb-869f-3488fa7df429.png)

7TH NO ROLE / NO EMAIL / NO USERNAME

[2020-11-19 00:27] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99604674-00d2fc00-2a41-11eb-93db-1980d2ec074c.png)

8TH NO ROLE / NO EMAIL / NO USERNAME

[2020-11-19 00:40] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99605572-e4d05a00-2a42-11eb-8686-790437c96f97.png)

9TH NO ROLE / NO EMAIL / NO USERNAME

[2020-11-19 00:54] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99606494-d2efb680-2a44-11eb-979b-fc9dc55b8603.png)

10TH NO ROLE / NO EMAIL / NO USERNAME

[2020-11-20 04:47] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99760359-81bbf180-2b2e-11eb-9d90-d08e17d77637.png)

11TH NO ROLE / NO EMAIL / NO USERNAME

[2020-11-20 04:54] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99760805-892fca80-2b2f-11eb-8bb8-3984fbabb744.png)

12TH NO ROLE / NO EMAIL / NO USERNAME

[2020-11-23 04:41] acmiras opened #102 "PLS UPDATE THIS ASAP. THANKS THIS BOTH HO AND OPS FILE."
https://docs.google.com/spreadsheets/d/1o7cSJ6UgH59f1mPBnVlQXq1jZXBKnVVO/edit#gid=940575862

THIS IS THE LINK.

PLEASE THANK YOU.

[2020-11-23 04:55] acmiras commented on #101
![image](https://user-images.githubusercontent.com/60170851/99930178-1884ea00-2d8b-11eb-9bd7-a5f0ac112090.png)

NI  TRY KO PO IPASOK YUNG NO  USERNAME SA PROFILE AT YUNG TEMPO PASSWORD PO.

NAKA LAGAY PO INVALID PASSWORD AT USERNAME PO

[2020-11-26 03:10] acmiras opened #103 "LOADING ISSUE IN CLOUD LINK"
![image](https://user-images.githubusercontent.com/60170851/100303651-f502af00-2fd7-11eb-8f70-4024aa8ebe76.png)

[2020-11-26 03:10] acmiras commented on #103
SIE GANYAN LANG PO SYA WLAANG LAMAN

[2020-11-26 04:26] acmiras opened #104 "WRONG USERNAME IN PROFILE PLS UPDATE ASAP"
![image](https://user-images.githubusercontent.com/60170851/100308066-63e50580-2fe2-11eb-91e6-d06c5cc6deae.png)

IT SHOULD BE "mvpuno"

THAT IS WHY INVALID WHEN ENTERING THE USERNAME AND PASSWORD

[2020-11-26 05:19] acmiras opened #105 "ADMINISTRATION SETTINGS"
![image](https://user-images.githubusercontent.com/60170851/100311103-ecb36f80-2fe9-11eb-8ccb-64ac3ebdfc75.png)

WALA PO YUNG PAG EENCODAN NG CODE PO SA ADMINISTRATION SETTINGS PO.

[2020-11-26 05:20] acmiras commented on #105
AUDIT TRAIL LANG PO MERON PO.

[2020-11-26 05:33] acmiras commented on #103
ACCOUNT KO PO ITO SA CLOUD LINK PO.

[2020-12-02 05:32] acmiras opened #106 "BROWSER N KA WHITE NOT LOADING"
![image](https://user-images.githubusercontent.com/60170851/100832379-b58a0600-34a2-11eb-81cf-2c32db3dbdf6.png)

SIR BAKIT PO KAYA GANITO ITO NAG CLEAR CACHE NMN PO AKO

[2020-12-09 01:03] acmiras opened #107 "punch alteration on kiosk"
![image](https://user-images.githubusercontent.com/60170851/101559959-33976100-39fd-11eb-953c-7678a60e904d.png)

"Break Out should not be less than to Punch In"- dati po walang nmn po lumalabas na ganyan po. sa punch alter.

nag try ako  mag lagay ng late sa break ng 10 mins tapos ganyan na po lumalabas sana po maayos po ito agad. salamat po.

[2020-12-09 05:20] acmiras commented on #107
![image](https://user-images.githubusercontent.com/60170851/101588352-2db37700-3a21-11eb-8fcb-08114fd9531c.png)

ETO PO KAYA SIR ? ANU PO MALI DITO

[2020-12-12 11:04] acmiras opened #108 "PUNCH break issues"
Sir hnd ako maka attach ng photo gamit phone ko po

[2020-12-12 11:04] acmiras commented on #108
Pero yung photo po nito nasa viber po natin

[2020-12-12 11:08] acmiras opened #109 "APPLY change WOrk schudule double dates"
Sir nasa viber din natin picture nito. Gamit ko kasi phone pls paki attached nmn po yung photo. Salmat po.

[2020-12-13 12:00] VCI-Jojo commented on #108
![0-02-06-eab2db5bb165bb08f5cf624d456c1cd46f65ab64feb9bf6ddb286277a37ac052_787b24c1](https://user-images.githubusercontent.com/64577963/102011209-cc233d80-3d7d-11eb-8356-40aa5ac5a6b8.jpg)

No Break In and Break Out on Kiosk

[2020-12-13 12:02] VCI-Jojo commented on #109
![0-02-06-ee2610ad5a2dfbec39c82313aec2cc449dc7145bde8dff41143afacef3ba159a_5fcedb58](https://user-images.githubusercontent.com/64577963/102011233-e9f0a280-3d7d-11eb-8b69-599b93a32a8d.jpg)

![0-02-06-ac10b270b5ee43324ad1699e1436023e3184a8fc47ec61b07f45beae2ad1122e_60ad5c8d](https://user-images.githubusercontent.com/64577963/102011239-f248dd80-3d7d-11eb-81f5-319d41a05ab3.jpg)

Duplicate and/or tripl

[2020-12-15 07:03] acmiras opened #110 "Double dates of timerecords on approval link"
Antonio enriquez yung account po. Nag send ako ng picture sa viber at video po.

Sir paaattched ulit po dito salamat po. Phone po kasi gamit ko po.

[2020-12-15 07:14] acmiras opened #111 "Schedule in timerecords did not match in approved schedule"
Antonio enriquez ulit yung accounts ang pinagtataka namin bakit hnd nabago schedule nia sa timerecord parang binabasa dun is yung old schedule nia pa. Kahit nakafiled at nakapag approve na po sya na sya

Yung picture sir nasa viber po pls paki ayos po. Hnd po ako makaattched file gamit phone

[2020-12-15 07:18] acmiras opened #112 "Cannot retract dec 13 rene narito"
Hnd po sya makalag retract ng dec 13 nia.

Yung picture nasa viber po.

[2020-12-15 07:20] acmiras opened #113 "Cannot punch OUT"
Maraming acconts n nag sasabi sakin na hnd sila nakapag ounch out. Ni cclick nila ounch out pero hnd lumalapat yung oras blank pa din yung out.

Nasa cviber yung video at picture

[2020-12-15 10:28] VCI-Jojo commented on #111
What's showing on the kiosk:

![0-02-06-648d32ecd9febdbed86dbc54a168fa043b7392648fcdd9310ccc30fc9c2a688b_4b1dcb98](https://user-images.githubusercontent.com/64577963/102203036-09fd9e80-3f03-11eb-8b2c-5e5215bc76b6.jpg)

New schedule was approved by the manager:

![0-02-06-48cf83fa6f97cc3c011b33785cc87520858c39ba22cfe5a4a919a53f666a6d07_5b034e5d](https://user-images.githubusercontent.com/64577963/10

[2020-12-15 10:30] VCI-Jojo commented on #110
Duplicate Dates:

![0-02-06-69118f9318c3b66d6d968e182f406eb992dfc2839e1ab676883b34970c354c9e_642da841](https://user-images.githubusercontent.com/64577963/102203414-87291380-3f03-11eb-944d-10cdf1f91295.jpg)

![0-02-06-7f47ae15505d5ffc681376421215369877cb83c12e777308892e1b868e78d923_34c8755e](https://user-images.githubusercontent.com/64577963/102203467-96a85c80-3f03-11eb-9da7-fcd908c7f4a7.jpg)

[2020-12-15 10:49] acmiras opened #114 "Quick punch break out and break in issue"
Antonio enriquez po ulit itong account n ito.

Nag break out sya sa quick punch tapos may nag promt n name nia ibigsabihin po nun di b successful  tapos nung babalik na sya para ng quickpunch ng break in sabi nung system hnd pa daw sya nag punch bbreak out.

Kaya pag check nia sa log in nalaman nia na hnd lumapat yung oras ng break out nia.

Kaya kung mapapansin nio po sa picture same n yung mga p

[2020-12-16 12:37] VCI-Jojo opened #115 "Google Outage: Some Employees weren't able to Punch Out"
Some employees weren't able to Punch Out on Dec 14 and can't Punch out still. They can't apply for punch alterations also for the date.

Please punch out employees with "stuck" punch out for Dec 14. - Jojo

[2020-12-16 12:38] VCI-Jojo opened #116 "Quick Punch: Breaks not Displaying"
Quick punch is working, issue is with the display with the buttons not showing the breaks.

Workaround is to look at the time records itself where the punches are reflected.

[2020-12-16 12:39] VCI-Jojo opened #117 "Edit Profile: Required fields"
When editing profile, it will still request for required fields (birthday, site etc) even though there is data saved on the fields.

[2020-12-16 12:40] VCI-Jojo opened #118 "OT Minimum Hours"
Please set OT minimum of 1 Hour before employees can apply.

[2020-12-16 12:41] VCI-Jojo commented on #118
![0-02-06-17be01c693af4ed8ee81eeee6c80fa5dc939f6d4022c43e22f1001cd52fd865f_1981b6a9](https://user-images.githubusercontent.com/64577963/102349889-04758680-3fdf-11eb-806c-390f0e7a3a59.jpg)

[2020-12-17 01:54] VCI-Jojo opened #119 "[Continuous Loading] Time Records"
Good morning sir joe i think may system error po sa account ni Hanna nargatan (hsnargatan). Nakakapag open sya pero hindi nagdidisplay yung mga info.Sinubukan ko rin po ayaw talaga pero sa account ko ok naman po. - Rose

[2020-12-17 06:26] VCI-Jojo opened #120 "[Duplicate Dates] Ermalin Salig"
Duplicate dates showing for user.

![0-02-06-d9657421fb53ad8621ffbd9754aed2d3134bb6418ba4448e9ebbfea5644e8981_3b1dcaac](https://user-images.githubusercontent.com/64577963/102451426-6d0e4300-4073-11eb-8414-e36e7443825a.jpg)

![0-02-06-f6f7db4ac85fc373a52b74a72338ae2908e6ac3ac8ec11997faf5ba6bede61a1_edd2018c](https://user-images.githubusercontent.com/64577963/102451462-7ac3c880-4073-11eb-9ebf-61e086

[2020-12-18 04:41] VCI-Jojo commented on #120
![0-02-06-8c0e239aa75eb4295c1ac94b161450f1b966f820eaa163055dc3cd35e7d30ef9_67118df8](https://user-images.githubusercontent.com/64577963/102575587-6264b400-412e-11eb-8dab-d9044961418c.jpg)

Hi sir joe we check po if wala ng double dates but upon checking po meron pa rin - Rose

[2020-12-18 04:50] VCI-Jojo commented on #120
User affected for the new one is:  Rose Macavinta

[2020-12-19 11:26] acmiras commented on #113
Teresa gonzales and raymond nunez

[2020-12-19 11:26] acmiras commented on #113
Yung video nasa viber po

[2020-12-19 11:27] acmiras commented on #110
Kay jayvee ocariza

[2020-12-19 11:28] acmiras commented on #110
Yung picture nasa viber po

[2020-12-19 11:55] acmiras opened #121 "Rd to be able to edit their shift in and shift out on punch alteration"
Hi po pls baka nmn puwede ma edit from RD to magkaroon po ng duty po sa punch alteration po.

[2020-12-21 02:29] VCI-Jojo commented on #113
Affected Users:

Lenielyn Coronel
Joann Simbajon

[2020-12-21 02:33] VCI-Jojo opened #122 "Schedule Changed to RD"
Bigla daw po nag RD sched nia today - Aileen

User: Rona Ruin

[2020-12-21 02:34] VCI-Jojo commented on #122
![0-02-06-e08a36c9286173ed295c26b75eb91b4d6e09bceab94fde6e614f62b60ed0dff2_d0c953f2](https://user-images.githubusercontent.com/64577963/102733350-05f4d500-4378-11eb-8126-0f1be1969541.jpg)

![0-02-06-c67e540153a39268b103e4db88f6caf931f4bbcd46ca840527926892c397954f_80c1d2ec](https://user-images.githubusercontent.com/64577963/102733363-11480080-4378-11eb-9d9b-df2da41440b0.jpg)

[2020-12-21 04:51] VCI-Jojo commented on #113
Affected Users:

Chona Recto
Renan Duazo - since Dec 19
Raymond Nuñez

[2021-01-13 08:47] acmiras opened #123 "REGISTER CUT OFF LOADING NG MATAGAL"
![image](https://user-images.githubusercontent.com/60170851/104427986-dc1d7f80-55be-11eb-8c88-f9e6ee87f271.png)

ANG TAGAL PO MAG LOAD MAY INTERNET NMN  PO KAMI

[2021-01-25 09:47] VCI-Jojo opened #124 "Missing Punch Buttons"
Reported by: Aileen Miras

User: Remichelle Pascua

Since January 3, user got the "You are on leave today" message on the web bundy after applying for OB. User wasn't able to access the web bundy since then.

![0-02-08-d0e31da2d3fee7f19c51dc088ac15919263710bf2bc58f8cf723754bb7d0cb21_63fa3b8d](https://user-images.githubusercontent.com/64577963/105688833-082cef00-5f35-11eb-90b8-0d73004a89de.jpg)

[2021-01-25 09:48] VCI-Jojo commented on #124
Reference Ybug # 193

[2021-01-25 10:10] VCI-Jojo commented on #124
![0-02-08-184ddc64644f36179059edceb42e03bcb69d678da51ade53e3500d604ec6c556_f0679000](https://user-images.githubusercontent.com/64577963/105691725-935bb400-5f38-11eb-83c0-95e6172c6901.jpg)

[2021-03-25 07:13] VCI-Jojo opened #125 "Correct Username in System"
Employee Number: EM001342
Full name: Largo, Joel Dedoro

Current Username: jdlardo
Change to:  jdlargo

[2021-03-25 08:37] #124 closed, assigned to nobody

[2021-04-06 01:59] VCI-Jojo opened #126 "A Few Users Experiencing Continuous Loading on Kiosk"
A Few Users Experiencing Continuous Loading on Kiosk

--

FYI ko lang po nagloloko po ata kodanda ngayun di po kami maka IN ganto po nangyayaren, mag punch alteration nalang po kami. Fyi mam hindi ako mka log out kagabi at hindi din ako makalog in today, loading lang ang kiosk kodanda ko

Hi sir joe FYI lang po 4 employees na po nag sabi sakin na hnd po nag lloading ng maayos yung kiosk po kaya hn

[2021-05-10 08:57] VCI-Jojo opened #127 "Punch In Dissappeared"
Punch In disappeared and user was able to Punch In when Lunch Out and Lunch In are already in place, reference screenshots provided.

![0-02-06-b2e7cd8d7fa63cc28f19b1d823b96b9c7c742af68427e5be727e05298623de7e_b9cf57d8](https://user-images.githubusercontent.com/64577963/117633526-b42adb00-b1b0-11eb-98c4-f6473ef5ba38.jpg)

![0-02-06-5402dcd20063e55338005afa8d939fc19bc9f6ab7c7a114a524c7e7f9e756ec7_b2

[2021-05-10 09:02] VCI-Jojo commented on #127
User Punch In > Lunch Out > Lunch In but noticed the Punch In was missing so did Punch In again. Punch In time is now greater than Lunch In and Out as per provided screenshots.

[2021-06-09 02:31] VCI-Jojo opened #128 "Apply Vaccine Incentive Leave"
Apply Vaccine Incentive Leave to all Pretiolas Employees